[2014-02-13 19:28] ryancdotorg opened #4 "password leaks via proc info"
Generally, at least on Linux, other users on a system are able to see the command line arguments given to a process. OpenSSL supports passing passwords via environment variables using -pass env:ENV_VAR_NAME which is not visible to other users besides root. I am not sure of a good fix.

One possible option which could generally apply to most other options would be to embed a short shell script with

[2014-02-13 23:04] #4 closed, assigned to nobody

[2014-03-25 17:45] damaestro opened #5 "RFE: List Files Encrypted"
It would be nice to be able to ask transcrypt what files are configured to be encrypted.

[2014-03-25 18:00] damaestro opened #6 "RFE: Add transcrypt {add,remove} to Manage .gitattributes for Ease of Encryption Management"
Rather then manually maintaining .gitattributes, transcrypt should have the ability to add and remove files in the repo similar to git-add. The remove should not delete files as git-rm does, rather stop encrypting the file and staging an unencrypted commit. What to do with the history would need to behave similar to a rekey.

[2014-07-30 19:48] Josh-Tilles opened #7 "Spaces in directory names wreak havoc"
I can't use `transcrypt` in a directory that has spaces in its name.

For example, I have a directory named `Source Code` (aliased as `src`) in my home folder, and if I try running `transcrypt` in `~/src/foo` (aka `/Users/jtilles/Source Code/foo`) then I get an error that resembles the following:

[code]

[2014-08-22 22:07] #7 closed, assigned to nobody

[2014-08-25 21:49] elasticdog opened #8 "Investigate resolving merge conflicts for encrypted files"
Note to self, I need to better understand the failure/recovery scenario when there is a merge conflict happening with an encrypted file.

[2014-08-29 17:27] elasticdog opened #9 "Investigate why it's throwing pathspec errors when installing outside of the top-level directory"
You should be able to run the transcrypt command from anywhere within a repository, but it's currently only working from the top-level of the Git repo. Look into if this is related to the recent change in 0.9.5 or if it's always been that way and I've never noticed.

[2014-08-29 23:28] #5 closed, assigned to nobody

[2014-08-29 23:28] #9 closed, assigned to nobody

[2014-09-06 00:22] BrendanThompson opened #10 "GPG Support"
It would be good to have GPG support that is one of the main benefits of git-crypt. Is there any chance of that?

[2014-09-08 04:15] blackrosezy opened #11 "xkcd!"
Indeed The example password indeed very secure, "correct horse battery staple"!

[2014-09-08 14:22] #11 closed, assigned to nobody

[2014-11-06 22:36] #6 closed, assigned to nobody

[2014-11-26 11:48] narkisr opened #14 "smudge issue"
I keep getting:

[code]

While running git diff

My attributes file includes:

[code]

[2015-02-10 02:24] hsanson opened #15 "Interactive add (git add -p) impossible with transcrypt"
Doing a git diff I get to see the code differences ok but trying a "git add -p" shows only the encrypted content making it impossible to commit blocks of code.

[2015-02-10 05:01] elasticdog commented on #15
Yes, this is a limitation in how Git [textconv filters](https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html#_tt_filter_tt) work (which is what transcrypt sets up in your repository). Since adding patch hunks updates the index, and updating the index is when the textconv filter is applied (i.e. when your data gets encrypted), it will not work as expected. I believe if Git had some s

[2015-02-25 13:29] hsanson commented on #15
Too bad there is no solution for this problem. Solving one line conflicts when using transcrypt is far more complicated than it should....

[2015-02-25 13:29] #15 closed

[2015-04-11 20:23] KenRud opened #18 "Support for git archives"
I just started using transcrypt recently and really like what it has to offer. One feature that I would really like to see is support for git archives. My particular use case is for [Capistrano](https://github.com/capistrano/capistrano) deployment to a remote server. Capistrano clones the git repository with the --mirror option to a local repo folder. It then calls "git update" to update the repo

[2015-04-14 14:50] elasticdog commented on #18
I'm definitely not familiar with using `git archive` or Capistrano, but from my experiments locally using Git v2.3.5, it looks like if the repo is configured with transcrypt and things are decrypted, the archive it produces will also keep the file decrypted (which is your desired outcome). Are you able to inject a step in the process to have Capistrano clone with `--mirror` and then configure tran

[2015-04-14 15:16] KenRud commented on #18
Yes I have tried that approach. The issue is that when I try to run the transcrypt command on the mirrored repo it tells me that I am not in a git working directory. The `--mirror` option is very similar to the `--bare` option and it seems like transcrypt does not recognize these types of clones.

I will try to run transcrypt locally on my machine against a mirrored repo and let you know exactly w

[2015-04-14 15:22] elasticdog commented on #18
Ahhh, gotcha. That is something I can look into.

[2015-04-19 18:48] elasticdog commented on #18
I'm afraid I haven't come up with a good solution to this issue. I've done some reworking to try and get a bare repository configured with transcrypt, but even with that, the git-archive command doesn't pay attention to the attributes when generating an archive. There are some attributes that git-archive pays attention to [1], but I haven't been able to get that working with a bare repo (even when

[2015-04-19 19:51] KenRud commented on #18
Ok, thank you for looking into the issue. I have found a temporary work-around that is specific to Capistrano, but it is not ideal. I am basically uploading my local unencrpyted copy of a secure file rather than using the file that Capistrano pulls from the repo.

[2015-05-14 20:33] oz123 opened #19 "error when running transcrypt on a fresh clone"
[code]

This also happens when trying git diff:
[code]

[2015-05-14 20:51] adrianduke commented on #10
I've created a PR with basic GPG import/export features:

https://github.com/elasticdog/transcrypt/pull/20

(yeah, forgot to reference this issue in any of the commits)

[2015-05-15 16:39] elasticdog commented on #19
I've normally seen this happen if somebody staged a file in the repository before adding the crypt filter in the `.gitattributes` file. If you pull the latest version of transcrypt from this repo (I haven't tagged a new release yet), I've [added a feature](https://github.com/elasticdog/transcrypt/commit/a0b7d4ec0296e83974cb02be640747149b23ef54) to help debug this, it dumps the raw commit objects f

[2015-05-19 18:55] oz123 commented on #19
This seems to solve the problem, but I am not sure about it. Anyway, I got transcrypt too work after a bumpy ride.

[2015-05-19 18:55] #19 closed

[2015-05-19 18:57] oz123 opened #21 "support add patches to commit with git add -i"
Currently this is not working, and will display the patches in the pager as encrypted text.

[2015-07-30 15:44] tvaughan opened #22 "Problems with `git worktree`."
transcrypt's use of `git rev-parse --show-toplevel` in `.git/config` doesn't work with `git worktree`[1]. It appears, from my very limited testing, that `git rev-parse --git-common-dir` should be used instead. This works in both the linked and master worktree (in the top-level directories as well as subdirectories within each worktree).

[1] https://github.com/blog/2042-git-2-5-including-multiple-

[2015-09-10 04:01] elasticdog commented on #22
Hey @tvaughan, thanks for the heads up! Sorry it has taken forever to respond to this, I was offline taking time off in between jobs, then traveling for two of the past four weeks and just now catching up on personal projects. The new experimental *worktree* feature sounds a lot like what you were doing with the `contrib/workdir/git-new-workdir` before...super handy.

A couple of concerns with usi

[2015-11-24 01:07] mdjnewman opened #23 "Pull with rebase doesn't handle encrypted files"
I'm not too sure how this could be fixed or if it's an issue with my setup, but if it's a small fix it'd be nice to have.

Happy to work on it if you can point me in the right direction :)

-----

Steps to reproduce:

* Hard reset your working copy to HEAD^ (make sure you don't lose any local changes!)
* Make a change to encrypted file and commit
* Pull with rebase from a remote repo

Expected beh

[2015-11-25 06:06] elasticdog commented on #23
Thanks for reporting this...so the situation with `git pull --rebase` will only cause unexpected issues if the remote repo made a change to that same encrypted file that you are then rebasing against, correct? I haven't had time to mess around with this particular scenario yet (I'll try to take a closer look tomorrow), but wanted to point you in a direction that might help.

Essentially look at th

[2015-11-29 03:52] mdjnewman commented on #23
No worries, thanks for all your work on transcrypt! Yep that's correct - here is a bash snippet that will reproduce it:

[code]

If you run `git diff` at this stage, you'll see the diff isn't what you'd expect.

renormalize looks promising - I'll try that soon!

[2015-12-02 06:14] elasticdog commented on #23
Thanks for the quick script to reproduce the issue. I honestly forgot, but I already set the merge strategy to use renormalize in the *.git/config* itself as part of transcrypt's initialization. The crux of the problem is mentioned in the `gitattributes` man page regarding merges with filters:

Right now, those properties are not true, so it's not able to automatically resolve all filter-related c

[2015-12-02 17:22] elasticdog commented on #23
Changing the smudge filter (*.git/crypt/smudge*) to this:

[code]

...seems to get things working as the *gitattributes* page suggests it should:

[code]

I'm not sure if that will improve the rebase/merge issue, but I'll experiment some more. I don't like that it uses a tempfile, so I may try to use a named pipe instead to keep things in memory rather than use the disk. If you happened to encrypt

[2015-12-05 20:01] elasticdog commented on #23
Hrm, so even with the improved smudge filter, I've not had any luck in getting this to work as desired. I'll have to think about this some more, but it might not be possible. Please let me know if you make any headway.

[2015-12-05 20:56] elasticdog commented on #23
I have a slightly different clean filter as well to have `clean -> clean` output the same text:

[code]

...and then I also tried setting the attribute to:

[code]

...and then finally pulling with:

[code]

...which gets things *close*, but not quite 100% there.

[2015-12-06 00:01] elasticdog commented on #23
Okay, one more experiment update...no need to change from the original clean/smudge filters at all, just try this out:

[code]

...and then look at the history (`git log -p`), it preserves the changes that upstream did and then commits your downstream changes as the eventual correct version. Not perfect since you can't decide to keep parts of both during the rebase, but the history is there and cl

[2015-12-19 02:04] tcastelli opened #24 "windows version?"
Any chance of getting a windows executable? (Actually I'm running it from minGW and works great, but would be nice to have a native version)

[2015-12-22 05:56] elasticdog commented on #24
I'm afraid that I'm pretty far removed from the Windows ecosystem these days (I haven't owned a Windows box for ~7 years or so), and would guess that since transcrypt is based on Bash and OpenSSL, you'd have to use some compatibility layer like miniGW or Cygwin in order to satisfy those requirements.

Unless someone else has better information/background with running transcrypt in a Windows enviro

[2015-12-22 05:56] #24 closed

[2015-12-28 07:36] charliewolf opened #25 "Multiple keys, same repo"
Oh, hi there.

Is there any way to use multiple transcrypt keys in the same repo? i.e. encrypt some files with key A and some with key B.

I can try to write some code if you point me in the right direction. Let me know! Thanks.

[2015-12-28 15:56] elasticdog commented on #25
Hey Charlie!

So, it would take quite a bit of tweaking. Basically you'd need a new dedicated section in the config file where it would store the credentials and filter definitions, and then also separate clean/smudge filter scripts that pull in those credentials. Then you'd select which crypt filter to apply to a particular pattern of files in the *.gitattributes* file. That said, the UI would al

[2015-12-29 20:12] perplexes opened #26 "Heroku"
I made a buildpack for heroku so it'll decrypt on deploy!

https://github.com/perplexes/heroku-buildpack-transcrypt

[2015-12-31 19:08] elasticdog commented on #26
This is awesome! I just pushed a [commit](https://github.com/elasticdog/transcrypt/commit/f24bf3a6054372e61360cd8b572010c5ee177f4d) that documents your buildpack in a new [INSTALL file](https://github.com/elasticdog/transcrypt/blob/master/INSTALL.md#heroku) and mentioned it in the README as well. Thank you for the contribution and for bringing it to my attention!

[2015-12-31 19:08] #26 closed

[2016-02-12 19:16] nicktacular commented on #23
Hey @elasticdog -- I've also come across this issue with no luck resolving, If you need a test case, I've created https://github.com/nicktacular/transcrypt-rebasing which, you can do this to replicate:

[code]

My current workaround is to manually resolve in plaintext in each branch in a new file and use the plaintext content of that new file to resolve during the rebase.

[2016-03-28 03:04] zeroem opened #27 "Diff problems when an empty file is marked for encryption"
Steps to reproduce
  1. Create git repo
  1. Initialize Transcrypt
  1. Add Transcrypt rule to `.gitattributes`
    - `empty-file filter=crypt diff=crypt`
  1. Add/Commit the `.gitattributes` file
  1. Create the `empty-file`
    - `touch empty-file`
  1. Add the `empty-file`

At this point, if you run `git diff` there will be an empty diff, instead of no diff. If you run `git diff --exit-code` an

[2016-03-29 18:22] elasticdog commented on #27
The behavior you're seeing is basically due the encryption metadata that is created by OpenSSL, where the first bytes of an encrypted file is always going to be "Salted__" followed by the salt for that particular file...this is true even for files with no content. If you look at the raw output of the empty file after it has been committed (or any encrypted file within the repo), you'll see that th

[2016-03-30 14:27] zeroem commented on #27
My situation was using a glob pattern to manage and entire directory structure. It happened to pick up a couple `.gitkeep` files as well. The workaround I used was what you suggested, adding some meaningless content to the files

[2016-03-30 14:45] elasticdog commented on #27
In that situation, you could also add a negative pattern to exclude the `.gitkeep` files explicitly (since you don't actually need those to be encrypted).

[2016-03-30 14:46] elasticdog commented on #27
Never mind, negative patterns don't work in `.gitattributes`.

[2016-05-11 17:31] elasticdog opened #28 "Switch back to /dev/urandom from OpenSSL's PRNG?"
Although transcrypt's usage of the random number generator is limited, I've been thinking of reverting commit https://github.com/elasticdog/transcrypt/commit/0c288b200eb103485734cf3e925af5f86eecb8b1 even though it was originally done for portability. I need to explore what using transcrypt in a Windows environment realistically looks like, and if switching back would break that functionality (or i

[2016-08-27 21:37] elasticdog commented on #28
We've got pretty limited exposure to the OpenSSL PRNG, and Windows is getting Bash support, so I think I'm actually going to leave this now to err on the side of portability.

[2016-08-27 21:37] #28 closed

[2016-08-28 00:32] elasticdog commented on #27
FYI, I've been toying with ideas on how to fix this, and you can use `[[ -s $filename ]]` in the clean filter to try and prevent encrypting empty files, but the problem is then with the smudge filter which processes via STDIN. I've tried a couple of methods to read data from STDIN to determine if it's empty or not, but I could not reliably handle empty files and the smudge filter still fails.

I'l

[2016-08-28 00:35] elasticdog commented on #14
Do any of your encrypted files happen to be empty? I believe that will trigger the above error (see #27 for some details). I'll close this out as I've not heard back with reproducible steps, but please do post if you've got more information.

[2016-08-28 00:35] #14 closed

[2016-08-28 04:38] elasticdog commented on #27
I went barking up the wrong tree trying to follow this http://unix.stackexchange.com/a/33055, but I think actually adapting the code I had already written for #23 will work here. I'll see if I can't push something shortly.

[2016-08-28 20:02] elasticdog commented on #23
I've toyed with so may incantations of merge options and still don't have a great solution, but it looks like this is a known issue:

https://git.wiki.kernel.org/index.php/SmallProjectsIdeas#A_way_to_check_merges_using_textconv_filters

...note that you can avoid some manual editing if you use `git checkout --ours <file>` or `git checkout --theirs <file>` when resolving the merge conflict. Beyond

[2016-08-28 20:02] #23 closed

[2016-08-28 20:21] elasticdog commented on #21
Unfortunately, there's not a way to just edit a patch of an encrypted file as the encryption happens at the file-level, so any changed content within the file will change the entire resulting output. The individual sections of the file cannot be isolated.

To make that limitation more clear, in #29, I'm properly marking the files as binary so Git will at least tell you that it won't work:

    $ g

[2016-08-28 20:21] #21 closed

[2016-08-28 20:26] elasticdog commented on #10
@BrendanThompson I've recently merged in the `--export-gpg` and `--import-gpg` command line flags to dump the transcrypt configuration to a GPG-encrypted file, and to conversely read a GPG-encrypted file to get the configuration details when setting things up. The feature is in the master branch for now, and will be included in the upcoming 0.9.8 release.

I believe this is similar to what git-cry

[2016-08-28 20:26] #10 closed

[2016-08-28 20:27] elasticdog commented on #27
This should be fixed by the work done in #29 if you want to give that branch a shot. I'll be merging that into master and cutting a new release once I have a bit more time to kick the tires on those changes.

[2016-08-28 20:30] elasticdog commented on #8
This is relevant to the discussion in #23, but essentially it's not a super nice situation. If there's a merge conflict, the inline markers will only show the encrypted text, although if you look at a diff you'll see a combination of the plaintext changes and the encrypted diff.

The easiest way to resolve things is by using `git checkout --ours <file>` or `git checkout --theirs <file>` to get the

[2016-08-28 20:30] #8 closed

[2016-08-28 20:48] elasticdog commented on #18
I poked at this a bit more without any luck. I'm going to close this for now, but will think about the archive use case moving forward if new options come about.

[2016-08-29 22:29] #27 closed

[2016-08-30 04:09] elasticdog commented on #18
Per

[2016-08-30 04:10] elasticdog commented on #18
I spoke a bit too soon, and I think that if I make some tweaks to allow transcrypt to configure bare repositories, then git archive actually will honor the attributes settings and I was able to export a tarfile that had the decrypted files in it. I have some more testing to do but will post back once I push the branch so you can try it out (if you're still interested in a solution).

[2016-09-04 17:51] #18 closed

[2016-09-04 17:51] #22 closed

[2016-09-06 16:39] zeroem commented on #27
Thanks, I'll give it a go and let you know how it works out.

[2016-09-06 16:43] zeroem commented on #27
This is working great, thank you!

[2016-09-06 18:10] elasticdog commented on #27
Glad to hear it! You're welcome, and sorry it took me so long to come up with a clean solution :-)

[2016-09-29 16:31] mrmachine opened #31 "Avoid accidentally committing unencrypted files."
I use the GitUp client on OS X, and I just discovered that it does not execute attribute filters (https://github.com/git-up/GitUp/issues/224).

If I'm not careful (or someone else using GitUp isn't careful), it is very easy to stage and commit an encrypted file from GitUp.

Could transcrypt automatically configure a pre/post-commit or pre-push hook to ensure that any files that should be encrypted

[2016-10-02 17:27] elasticdog commented on #31
I'm not quite sure how that would work. Even if it could automatically create a client-side hook, how could it test if the files are encrypted? The [clean filter script](https://github.com/elasticdog/transcrypt/blob/1c459bf0ccc25255c9706be751b913516138e1e1/transcrypt#L269-L271) does some naive testing for encrypted files, but there are cases where it doesn't hold up (like if an empty file is set t

[2016-12-14 22:39] dreamwisdom opened #32 "Spaces in file name causing issue"
Rekey fails when .gitattribute contains two star in path (**) and they are files with spaces in their name.

https://git-scm.com/docs/gitignore
`A trailing "/**" matches everything inside. For example, "abc/**" matches all files inside directory "abc", relative to the location of the .gitignore file, with infinite depth.`

There was also a unicode character in the filename, but I don't think that

[2016-12-16 19:11] dreamwisdom commented on #32
Not sure if its fully working now but I changed this to make it work.
I also couldn't decrypt after checkout.

[code]
to
[code]

[2017-01-01 19:12] #32 closed

[2017-01-01 19:16] elasticdog commented on #32
Thank you very much for the bug report. I've pushed a fix to master based on setting `IFS=$'\n'` and also made sure that it works when using the `--show-raw` flag (which was also broken). I've tested file names with spaces, as well as the infinite depth file glob pattern `**`, and various combinations of the two.

Give me a bit and I'll cut a release.

[2017-01-03 10:07] ilovezfs opened #34 "mktemp without any arguments is invalid on <= macOS 10.10 Yosemite"
The latest version of transcrypt calls `mktemp` without any arguments

[code]

However on macOS Yosemite, and earlier, this is invalid syntax and will just cause usage information to be printed:
[code]

The newer man page for >= macOS 10.11 El Capitan says
[code]

So on the prior versions of macOS, it works to change `tempfile=$(mktemp)` to

[code]

However, that's not a drop-in fix because GNU mk

[2017-01-03 15:49] elasticdog commented on #34
Sigh...sorry about that. I had checked on OS X 10.11 (El Capitan), as well as Arch Linux, Amazon Linux, CentOS 7, NixOS, and Ubuntu 16.04, so thought it would be okay to change the default when PR #33 came in.

Give me a bit to experiment with clean ways to make that conditional, and I'll cut a new release. Thank you for reporting the issue.

[2017-01-03 15:50] ilovezfs commented on #34
No problem! Thanks for looking into it.

[2017-01-05 23:22] elasticdog commented on #34
@ilovezfs Rather than a conditional, I've just decided on a more universal path for the temporary files. Before I cut a new release, can you verify that the master branch works for you on the older OS X version?

@fbartels I'd appreciate if you too had the opportunity to check the master branch version of transcrypt in your Termux environment.

[2017-01-05 23:32] elasticdog commented on #34
Wait...that's not going to work as-is. It needs to be expanded when it writes the script out.

[2017-01-06 00:03] elasticdog commented on #34
@ilovezfs I was making things more complicated in my head than necessary. I followed your original advice and just made the command:

[code]

[2017-01-06 02:25] ilovezfs commented on #34
Thanks @elasticdog

Works: https://bot.brew.sh/job/Homebrew%20Core/14162/

[2017-01-06 08:37] fbartels commented on #34
Works for me as well.

[2017-01-06 15:26] elasticdog commented on #34
Thank you both for following up...I always appreciate sanity checks!

[2017-02-08 01:20] mrmachine commented on #31
We switched away to git-secret to avoid accidentally committing unencrypted files, but it has it's own problems (GPG2 pain, no diffs in commit history, etc.)

So we're thinking about switching back, but we are still worried about how easy it is to accidentally commit unencrypted sensitive data with the wrong Git client.

Did you have any other ideas about how we might be able to minimise that risk

[2017-02-09 03:38] elasticdog commented on #31
So in your proposed mode of operation, you'd still have to define a pattern for matching files somewhere (like as is done within the `.gitattributes` file now), and then transcrypt would then manage the `.gitignore` file? I'm not understanding how that would make things any safer, as you'd already have to define a pattern to match files that you want to encrypt (and trust your users to do the same

[2017-02-09 06:44] mrmachine commented on #31
Yes. I suppose my request is orthogonal to the purpose of transcrypt, being *transparent* encryption.

When transcrypt works, it is excellent. I'm just not sure about how safe it is when it's easy for a git client that doesn't execute git attribute filters to accidentally commit an unencrypted file containing sensitive data.

It might be enough for transcrypt to automatically configure a local pos

[2017-03-07 07:25] scalp42 opened #36 "Give examples re "There are much better options if your goal is to encrypt the entire repository.""
Regarding the statement:

    There are much better options if your goal is to encrypt the entire repository.

Any chance you could give some examples of what you're referring to?

Thanks!

[2017-03-10 11:51] mrmachine opened #37 "Detection of clean repo is not reliable."
I'm using codefresh to build Docker images (including the `.git` directory), with an entrypoint script that configures the git repo for transcrypt with a password from the environment, to decrypt secret files at runtime.

transcrypt thinks the git repo is dirty:

[code]

When I run the `git diff-index` command that transcrypt uses internally (minus the `--quiet` arg), it seems to return some odd r

[2017-03-11 21:50] elasticdog commented on #37
I wonder if there is some stale stat info from whatever codefresh is doing. Instead of running `git status`, if you touch all of the encrypted files, does the clean check work as expected?

[code]

[2017-04-28 07:31] ircecho opened #39 ""openssl list-cipher-commands" does not work with OpenSSL 1.1.0e; should be "openssl list -cipher-commands""

[2017-04-28 08:00] ircecho commented on #39
This problem is only present in the later OpenSSL versions, mine is

[code]

[2017-04-28 08:06] ircecho opened #40 "Cannot decrypt repositories with OpenSSL 1.1.0 and later, that were created with earlier versions of OpenSSL"
The reason is that [default digest for the dgst and enc commands from MD5 to sha256](https://www.openssl.org/news/cl110.txt).

When setting the digest to md5, the files can be decrypted properly again.

[2017-06-09 03:51] #25 closed

[2017-06-09 17:49] elasticdog commented on #25
@charliewolf! Did you end up implementing something for this, or work around it another way? Honestly, I have been neglecting transcrypt as I haven't been using it (personally or professionally) for long time.

[2017-06-09 18:13] charliewolf commented on #25
@elasticdog I haven't been using `transcrypt` either. Mainly have used `git-crypt` when I've needed to encrypt things in a repo

[2017-07-13 17:42] lynchem commented on #40
Could you share your change @ircecho  ? We have the same problem.

[2017-07-14 09:49] ircecho commented on #40
You have to change the following lines in the files in the folder ".git/crypt":

[code]

See the added **-md MD5**.

[2017-07-14 10:39] lynchem commented on #40
Thanks for that @ircecho . All working nicely.

[2017-08-01 20:35] zvictor commented on #36
I came here to open an issue asking exactly the same. Found it already opened and I still have no idea what the author meant with that phrase.

[2017-08-01 23:28] scalp42 commented on #36
Might be worth pinging @elasticdog

[2017-08-04 21:30] thorntonrose commented on #40
This fix worked for me on a Debian 8 system. Thanks. When will this fix be released?

[2017-08-20 17:25] elasticdog commented on #40
This has been resolved by #41 and I'm working on cutting a new release as we speak.

[2017-08-20 17:25] #40 closed

[2017-08-23 17:39] elasticdog commented on #36
This just means that the smudge/clean filter method of encrypting files isn't terribly efficient since it forks processes for each individual file that you want to keep secure. Any method of encrypting the entire repository (like full disk encryption, encrypted disk images, [git-remote-gcrypt](https://spwhitton.name/tech/code/git-remote-gcrypt/), etc.) would work better if you want to keep the ent

[2017-08-24 08:20] dfee commented on #39
Specifically, here is the update that needs to be made:

[code]

There are two changes:

1. `openssl list -cipher-commands` as mentioned above
2. `openssl list -cipher-commands | tr -s ' ' '\n' | grep --line-regexp "$cipher"` note the `tr -s` to turn the tabular data into a single column list.

If my bash-fu were better, I'd issue a PR, but I can't quite figure out how to do a conditional on the s

[2017-09-03 05:34] dfee commented on #37
I've experienced the same thing using CircleCI. I solved it by doing a `git reset --hard HEAD` even though when I'd ssh'ed in, `git status` returned `nothing to commit, working directory clean`

[2017-09-07 20:32] jackrh commented on #39
This issue popped up for me when I tried to decrypt a new cloned repository using the provided transcrypt command from the original repo. Applying dfee's validate_cipher update fixed it for me.

[2017-11-21 20:13] mlyle opened #42 "Byte literals are broken"
`b'\0'` produces invalid javascript.

[2017-11-21 20:17] mlyle commented on #42
The common idiom `b''` is broken too, e.g. `b''.join(myarray)`

[2017-11-21 20:22] #42 closed

[2017-11-21 20:22] mlyle commented on #42
Meant for the other transcrypt :P

[2018-01-25 17:28] cdimitroulas commented on #25
@elasticdog what are you using instead of `transcrypt`? I was about to use this library for encrypting some variables in a repo for out team but noticed your comment saying you aren't using this personally or professionally which has kind of put me off...

[2018-01-25 17:34] elasticdog commented on #25
@cdimitroulas rather than have secrets stored in the repo itself, we've been using [HashiCorp's Vault](https://www.vaultproject.io/) as a dedicated, highly-available secret store and have various tooling/workflows to pull things out as needed. Lots of advantages to using something like Vault, but certainly more work and infrastructure to manage.

[2018-01-30 09:52] andreineculau opened #43 "[Q] committing gpg keys"
I love the simplicity of transcrypt, but I cannot wrap my head around the current integration with gpg in #10 .

`transcrypt --export-gpg <recipient>` ends up saving the credentials of this repo encrypted for `recipient` under `.git/crypt/<recipient>.asc`. For reasons unknown to me, `transcrypt --import-gpg <recipient>` will look for `.git/crypt/<recipient>` or `.git/crypt/<recipient>.asc` or for

[2018-01-30 10:31] cdimitroulas opened #44 "Files not being decrypted"
Hi there,

I set up transcrypt on a repository (let's call it repo `A`) the other day and everything was working fine. I set up transcrypt on a new repository (repo `B`) yesterday and that seems to be working fine as well but now when I started working on the repo `A` again I noticed that my files are not being decrypted locally.
Things are still working fine on repo `B`.

I am not sure why this i

[2018-01-30 10:45] cdimitroulas commented on #44
OK so I solved this by following the first answer here https://stackoverflow.com/questions/21652242/git-re-checkout-files-after-creating-smudge-filter

Feel free to close this issue as I believe it was caused by a `rebase`

[2018-01-30 22:23] elasticdog commented on #44
Ahh, glad you found a solution. Rebases can definitely be tricky to handle for filters. I appreciate you updating the issue with your solution.

[2018-01-30 22:23] #44 closed

[2018-01-30 22:48] elasticdog commented on #43
The GPG support was modeled almost exactly after what `git-crypt` supported at the time, and was meant specifically as a convenience mechanism to securely share the cipher/password without having to come up with your own safe communication methods. If your usage of GPG is widespread enough in whatever ecosystem where you're using transcrypt, then you could certainly copy them from the local `.git/

[2018-01-31 09:39] andreineculau commented on #43
Makes lots of sense! Thank you!
So if i hear you correctly you would like to stick to"one thing well" and let the distribution of the keys to be handle by another tool e.g. transcrypt-in-git, transcrypt-in-keybase, transcrypt-in-1password etc

Once again makes lots of sense!

--
http://andreineculau.com

[2018-01-31 09:41] #43 closed

[2018-03-13 01:54] mrmachine commented on #31
@elasticdog any further thoughts on this? We are again looking at modifying transcrypt to include an additional header in the encrypted version of the file (to indicate that it is in fact encrypted) and a pre-commit hook to verify that the header exists, while stripping the header when decrypting...

Would such a PR be acceptable to you?

[2018-03-13 07:59] elasticdog commented on #31
Nice idea! A custom header in the encrypted version of the files would be a much nicer solution and more reliable than trying to auto-detect encryption. The only downside is that it would break decryption with standard tooling, but it's not a huge burden to switch from `cat sensitive_file` to `tail -n +2 sensitive_file`, plus this caveat could be documented in the README.

I'd definitely be open t

[2018-04-07 23:00] paulcsmith opened #45 "Add inline docs"

[2018-04-07 23:00] paulcsmith opened #46 "Document creating your own adapter"

[2018-04-09 05:10] elasticdog commented on #46
Adapter? Can you explain what you mean by this request?

[2018-04-09 05:11] elasticdog commented on #45
The [transcrypt](https://github.com/elasticdog/transcrypt/blob/master/transcrypt) script itself is very well documented via comments. Did you open this issue in error?

[2018-04-09 11:52] paulcsmith commented on #46
Omg I’m so sorry. I had two tabs open on my phone and created all these issues on the wrong repo! I’ll close these when I get on. So sorry about that!

[2018-04-09 12:58] elasticdog commented on #46
No problem...I can close them out.

[2018-04-09 12:58] #46 closed

[2018-04-09 12:59] elasticdog commented on #45
Resolving...opened in error. See https://github.com/elasticdog/transcrypt/issues/46#issuecomment-379725714

[2018-04-09 12:59] #45 closed

[2018-04-16 08:50] cdimitroulas commented on #39
I have made a PR from @thomas-hilaire's fork which has the fix for this - not sure why he didn't make it himself.

[2018-05-25 15:25] elasticdog commented on #39
This has been resolved by #48 and a7e8aef. I'll be cutting a new release shortly, but feel free to try out the code in the _master_ branch.

[2018-05-25 15:25] #39 closed

[2018-05-25 15:55] elasticdog commented on #36
Keybase also now supports [encrypted git](https://keybase.io/blog/encrypted-git-for-everyone) repository hosting, which would work well for some circumstances.

Anyway, I'll close this issue out, as I don't know if I want to maintain a list of alternatives in the repository itself. If this question comes up a lot more and people aren't satisfied being pointed here, I can reconsider.

[2018-05-25 15:55] #36 closed

[2018-06-10 23:07] ihtiht opened #49 "Design contribution"
Hi,

I am a graphic designer. I support the open source community with design contributions. I have made design contributions to different projects before. You can view my works from my profile.  Would you like me to design a logo for TransCrypt?

[2019-02-05 11:00] andrew8er opened #54 "Missing requirements"
The transcrypt script needs the `column` command to run. On newer Ubuntu systems, this is provided by the `bsdmainutils` package. It should be added to the requirements list.

[2019-03-19 14:05] dirkhas opened #55 "Suppress warnings for OpenSSL 1.1.1"
Using OpenSSL 1.1.1 (in my case, in Git for Windows, which uses `OpenSSL 1.1.1a  20 Nov 2018`), the `clean` script constantly leads to `git` commands printing out the following warning:
[code]

[2019-03-19 14:06] dirkhas commented on #55
I'll create a pull request to fix it.

[2019-03-19 14:12] dirkhas opened #56 "Openssl 1.1.1 salt warnings / Git for Windows interoperability"
In [Git for Windows](https://git-scm.com/download/win), currently in version 2.21.0 using Bash 4.4.23 and OpenSSL 1.1.1a, the salt generation in the `clean` script causes two issues:

a) The following warning is issued by OpenSSL everytime the `openssl enc` part of the `clean` script is called: `hex string is too short, padding with zero bytes to length`
b) salt generation differs between *nix and

[2019-05-10 09:33] ricardo0624 commented on #55
in transcrypt 1.1.0, I still get this warning,it recommend 'Using -iter or -pbkdf2 would be better.'

[2019-05-10 09:50] ricardo0624 opened #59 "hex string is too short, padding with zero bytes to length *** WARNING : deprecated key derivation used. Using -iter or -pbkdf2 would be better."
Defalult encrypt is always warning,plase add -pbkdf2 -iter 1024 to update

openssl enc -aes-256-cbc -md sha512 -pbkdf2 -iter 1024 -salt -in InputFilePath -out OutputFilePath

follow by https://crypto.stackexchange.com/questions/20941/why-shouldnt-i-use-ecb-encryption

[2019-05-10 09:50] ricardo0624 commented on #59
ss@SSS ~/t/abc> transcrypt --version
transcrypt 1.1.0

ss@SSS ~/t/abc> uname -a
Linux SSS 5.0.9-2-MANJARO #1 SMP PREEMPT Sun Apr 21 07:11:08 UTC 2019 x86_64 GNU/Linux

[2019-05-17 09:44] ricardo0624 opened #61 "WSL not work"
in wsl , windows subsystem linux,it now work

[2019-05-25 15:53] #56 closed

[2019-05-26 18:49] elasticdog commented on #55
This will be a bit tricky to address, as OpenSSL 1.1.1 was released in Sep 2018 and I want to make sure that older versions also work properly. The situation is further complicated by macOS using LibreSSL 2.6.5 these days, which does not support the `-pbkdf2` option, as far as I know. I'll have to do a bit more research here to know how far back the `-iter` option has been around in both projects

[2019-07-10 17:31] cdimitroulas opened #64 "Encrypted files appearing as changed in git"
Hey there.

I have a colleague who reports that their `git status` is never clean in the repos where we have encrypted files using transcrypt. We have compared versions of all the relevant software (transcrypt, git, openssl, OS...) and did not find any differences.

I am not sure why it is happening, but if you have any hints or advice on where to look to start tackling such an issue then I'm all

[2019-07-11 06:57] collegeimprovements commented on #64
I'm facing the same issue.

[2019-07-11 08:26] andreineculau commented on #64
My colleagues are experiencing the same. Most of us are on MacOS with a rigid bootstrap procedure (i.e. installing global deps via homebrew) and we have never experienced this. Currently we are on Mojave, git 2.20.0+, openssl=libressl 2.6.5.

BUT now some colleagues on Ubuntu 18.04, git 2.22.0+, openssl 1.0.2s and 1.1.1,
plus our Travis CI running Ubuntu 16.04, 2.21.0, openssl 1.0.2g are experienc

[2019-07-11 08:44] andreineculau commented on #64
A quick update: I think I identified the issue.
https://github.com/elasticdog/transcrypt/blob/master/transcrypt#L294 ends up producing a newline character with ubuntu's openssl, but not macos'. Thus the file looks dirty.

Adding the `-A` flag fixes it, but need to find out if this is a proper fix, and find one if not.

[2019-07-11 09:47] andreineculau commented on #64
I forgot about https://github.com/elasticdog/transcrypt/pull/57 PR --- `WARNING: This requires re-encrypting secrets because salts change!`

The fix is explained in https://github.com/elasticdog/transcrypt/pull/57#issuecomment-495942975

@cdimitroulas @collegeimprovements can you confirm?

[2019-07-11 14:05] andreineculau commented on #64
Seems to be smth else. I tested #57 and re-encryption didn't fix the situation.

[2019-07-11 14:23] andreineculau commented on #64
`git ls-files --eol` shows this diff for me between the two OSes:

[code]

[2019-07-11 14:55] andreineculau commented on #64
I was completely wrong. I had too many shell sessions open and I tested incorrectly in an old repository.

After re-encryption, ubuntu on Travis CI reports no diff. Closing.

[2019-07-12 08:58] kbonev commented on #64
Why did you close the issue without resolving it?

[2019-07-12 09:34] cdimitroulas commented on #64
@andreineculau I followed the steps to re-key the repo but after reconfiguring transcrypt there are no changes to commit.
So your solution doesn't fix the issue for us.

[2019-07-12 09:39] andreineculau commented on #64
@cdimitroulas can you describe your setup? what OS, git, openssl version are you running? what OS, git, openssl version is the author of the repo (that you're trying to decrypt) running? which transcrypt version are you running? I suggest downloading the latest from the master branch https://raw.githubusercontent.com/elasticdog/transcrypt/master/transcrypt and try to re-key the repo, if you didn't

[2019-07-12 09:47] cdimitroulas commented on #64
Hey @andreineculau - just tried pulling the latest from the master branch and I was able to re-key the repo successfully. Just confirming with @kbonev whether this has fixed the issue.

For info:
OS - Ubuntu 18.04
git - 2.17.1
openssl - 1.1.1

[2019-07-12 10:12] cdimitroulas commented on #64
@andreineculau this seems to have resolved the issue. Thanks for your help!

[2019-07-12 10:25] andreineculau commented on #64
Cool! Thanks for confirming.

[2019-07-12 10:25] #64 closed

[2019-07-12 10:25] andreineculau commented on #64
@cdimitroulas

As a personal advice, not shared on the README.md of transcrypt is to actually commit the transcrypt script in the repo. It's small and it's not a binary even, and it means you can actually run different versions of transcrypt, one per repo. This also removes the esoteric details because you probably don't mention which version of transcrypt is needed for repo x. That's at least wha

[2019-07-12 10:49] cdimitroulas commented on #64
That's a neat idea, thanks for the suggestion.

[2019-07-12 16:09] elasticdog commented on #64
Yeah, it's not a bad suggestion as it will ensure that everyone is using the same consistent version...you just have to remember to update things when new releases come out. I haven't pushed a new official release yet due to this breaking change, and have been wanting to tackle a couple of other things before making it more widely available.

[2019-07-12 16:10] elasticdog commented on #64
Oh, and thank you @andreineculau for troubleshooting this issue with @cdimitroulas!

[2019-07-12 17:36] andreineculau commented on #64
When in the repo it's only one repo author that needs to remember and commit an update, otherwise it's everyone that interacts with the repo.

Primarily i worry about security bugs. Bugs that I don't experience or new features - not something to worry about. Nice to get for free, but not an issue if not. If it ain't broken, don't fix it.

[2019-07-16 01:06] damaestro opened #65 "OpenSSL 1.1.1c FIPS Causes Rewrite of Crypted Files"
It seems that when I clone an existing repo and use transcrypt on it with correct information I end up rewriting all crypted files with an upgraded openssl.

transcrypt master and 9a8a1f4d6d10fcb6c92017f287ed4df68b1605d9 tested
openssl-1.1.1c-2.fc30.x86_64 "OpenSSL 1.1.1c FIPS  28 May 2019"

[code]

All git operations cause a rewrite of the crypted files. For example:

[code]

The files are locall

[2019-07-16 01:22] damaestro commented on #65
Using `v1.0.3` does not cause a rewrite and using `master` someone using an older version is still able to use the repo.

[2019-07-16 01:22] #65 closed

[2019-07-16 08:41] cdimitroulas commented on #64
@elasticdog @andreineculau can we please release a new version of `transcrypt` to include the latest changes? People who are installing the library with package managers like `brew` do not receive the new version as it hasn't been bumped up since 1.1.0 which was several commits ago

[2019-07-16 16:36] elasticdog commented on #65
Hey @damaestro! There was a [recent bug fix](https://github.com/elasticdog/transcrypt/pull/57) to ensure that salt generation was working consistently across operating systems, but it **does require a re-encryption**. This has been causing trouble for other people as well running in mixed version environments: [Encrypted files appearing as changed in git](https://github.com/elasticdog/transcrypt/i

[2019-07-19 21:46] elasticdog commented on #64
@cdimitroulas I've just released [transcrypt v2.0.0](https://github.com/elasticdog/transcrypt/releases/tag/v2.0.0) and added release notes with how to handle the re-encryption after upgrade.

[2019-07-22 08:41] cdimitroulas commented on #64
Awesome that's great - thanks a lot @elasticdog

[2019-07-30 15:07] huuub opened #66 "after clone on other server and initialize the transcript, all encrypted files are dirty"
I clone my repo, and after running :
transcrypt -c aes-256-cbc -p 'thinkagain'
My encrypted files become modified.
So it seems : "Once transcrypt has stored the matching credentials, it will force a checkout of any exising encrypted files in order to decrypt them." -> that step is not happening.

[2019-07-30 23:04] elasticdog commented on #66
Hey @huuub, I believe what you're seeing is an expected side effect of the 2.0.0 release, and you can read more about how to fix it in the [release notes](https://github.com/elasticdog/transcrypt/releases/tag/v2.0.0). Feel free to re-open this issue if that doesn't answer your question. Cheers.

[2019-07-30 23:04] #66 closed

[2019-07-31 08:14] huuub commented on #66
I don't think so, because I was not using it before version 2.0.
If I make another commit where it was working and pull again on the faulty one, it is working again.
Seems that the decrypt by the initialisation marks them all as modified.

[2019-07-31 08:23] huuub commented on #66
However I tried this.
Then on another server cloned it.
I initialised with the transcrypt -c aes-256-cbc -p '.....'
Again all encrypted files become modified.
Can't even repeat the proces there because :
transcrypt: the repo is dirty; commit or stash your changes before running transcrypt

[2019-08-08 02:32] Erotemic commented on #55
Perhaps it is possible to do a version check and then actually use -pbkdf2 and -iter when calling openssl, as long as you have at least 1.1.1?

[2019-08-15 16:09] Erotemic opened #67 "List issues with rebasing in README Caveats / Limitations"
I think it important to be more upfront about issues with rebasing like those brought up in #8. These limitations should be clearly stated in the README, so fools like myself don't almost push all their secrets in plaintext.

[2019-08-28 14:24] JensErat opened #68 "Transcrypt version and help output not displayed outside git repositories"
`transcrypt --version` and `transcrypt --help` should also work outside git repositories, as they're frequently used to test whether the script is installed correctly. They give no output, though.

Example terminal session:

[code]

Same applies to `transcrypt --help`.

Expected behavior: version also displayed outside an initialized git repository.

[2019-11-01 02:45] jmurty opened #69 "Merging encrypted files with conflicts produces encrypted content in the "merged" file"
When you merge branches containing transcrypt-encrypted files, if the files have conflicts the resulting "merged" file produced by Git for manual resolution ends up as a real mess, mostly or entirely full of the encrypted text which cannot be sensibly merged.

The root problem seems to be that git does not run the smudge/textconv filter on all the BASE, LOCAL, REMOTE conflicting versions of files

[2019-11-04 02:19] jmurty commented on #31
Here is a [pull request](https://github.com/ixc/transcrypt/pull/2) against our fork of version 1.1.0 that adds a pre-commit hook script to abort a commit if any transcrypt-managed files are not encrypted in the index, based on a simplistic check for the "Salted" B64 prefix in the raw content.

At time of writing this is a prototype, but I'll follow up if we find the hook to be problematic or probl

[2019-11-12 22:41] apeschel commented on #68
I took a quick look, and this is happening due to `errexit` being set at the start of the script. My personal opinion is that errexit shouldn't be used at all, and that proper error handling should be relied on instead. It looks like the transcrypt has pretty good error handling throughout, so it may be fine to remove `errexit` entirely. Alternatively, turning on could be deferred until after `run

[2019-11-13 15:57] rnhmjoj commented on #59
I'm not a cryptographer but using MD5 to generate a key is pretty bad IMHO.
A real KDF (PBKDF2 like openssl rightly suggest) with moderate number of iteration should keep the secrets safe from a brute force attack.

[2019-12-06 00:28] jmurty commented on #69
In case it helps someone else, here is our latest merge driver script that fixes merging of transcrypt-encrypted files whether or not the merged changes result in conflicts.

You enable the driver by:

* adding this block to *.git/config*:

      [merge "crypt"]
          driver = \"$(git rev-parse --git-common-dir)\"/crypt/merge %O %A %B %L %P
          name = Merge transcrypt secret files

* for

[2019-12-09 19:21] #68 closed

[2020-01-07 21:53] apeschel opened #72 "transcrypt does not update built-in clean/smudge filters"
As far as I can tell, there's no code path that updates the transcrypt scripts stored in .git/crypt, and these files are only updated on initialization.

This is problematic, as changes to these scripts are never propagated out to repositories with transcrypt already initialized.

In https://github.com/elasticdog/transcrypt/commit/c8e4f7279972555282a74c96d7ce48fdbc930083 the method for generating

[2020-02-06 20:19] andreineculau commented on #55
I'm wondering if anyone has a clear path going forward.

Both `-pbkdf2` and `-iter` have landed in 1.1.1 afaik and libressl 2.9.1, so in order to support previous versions, you need to check for the support of the flags. But that is not enough because it should be an active decision of transcrypt not to support openssl@<1.1.1/libressl@<2.9.1, or of the transcrypt user not to support openssl@<1.1.1

[2020-02-21 23:13] TheLocehiliosan opened #74 "Unencrypted data left behind after credentials are flushed"
Steps to reproduce:

1. Clone transcrypt-enabled repo
2. Run `transcrypt` with valid credentials
3. Run `git log -p` (displaying all change sets, included encrypted ones)
4. Run `transcrypt -f` (flushing the credentials)
5.
    A.  Run `for object in $(cat .git/refs/notes/textconv/crypt); do git show $object; done` (you'll see previously cached unencrypted data)

    or

    B.  Run `transcrypt` w

[2020-03-12 03:44] jeffery commented on #54
I needed this in Ubuntu 18.04

[2020-04-07 13:08] jmurty commented on #69
A fix for this issue is now on the https://github.com/elasticdog/transcrypt/tree/legacy-v1 branch pending *possible* inclusion in a future update to the legacy version 1 stream, and *definite* inclusion in the version 2 stream.

[2020-04-07 13:16] jmurty commented on #69
Tickets that are probably related to this one: #8 #23 #67

[2020-04-25 13:47] jmurty commented on #67
I'm pretty confident that the underlying merge issue is fixed in the pending PR #76 that adds a merge driver to better handle conflicts that occur during rebasing, or merging in general.

[2020-04-26 10:29] perost-l14 opened #78 "Windows issues, work-arounds and a minor change request"
Hi.
I am using this on Windows 10 and after some issues, it is working. For it to work for others, I think my change should be put back into the tool.

First the two hints -

- Set core.quotePath to false (git config --add core.quotePath false). Without this Danish (and similar) characters are escaped to \octal and that breaks further processing of those files
- Next, to install transact on Window

[2020-04-26 10:50] jmurty commented on #78
Thanks for the detailed issue report @perost-l14

Could you please include here some example file names that caused you problems, especially those with spaces in the name and with non-ASCII Danish characters?

I suspect a couple of the problems you faced may not be due to running on Windows specifically, but flaws in the script when handling these kinds of file names.

Also, any extra information

[2020-04-26 13:42] perost-l14 commented on #78
Thanks for the prompt response. Here is one of my files:
[code]
with
[code]
And the space in the file name messes up 'for secret_file in' as it splits it into words (the IFS thing).

I reran a test on whether core.quotePath has any impact at all. It does. Most things works; however, encryption fails -
[code]
Note the -iter thing. There is another open issue on that.

My plan for this is -
- Create

[2020-04-27 12:57] jmurty commented on #69
Fix merged to `master` branch, to be included in the next release

[2020-04-27 12:57] #69 closed

[2020-04-27 12:58] jmurty commented on #31
A new pre-commit hook that performs safety checks is now merged to `master` branch, to be included in the next release.

[2020-04-27 12:58] #31 closed

[2020-05-04 14:07] jmurty commented on #78
Hi @perost-l14 I have applied a potential fix for most of the issues you reported on the branch `improve-handling-of-challenging-file-names`, could you test with that version of the `transcrypt` script to confirm whether it works for you.

In theory, this fixed version should work even if you have `core.quotePath` set to `true`, or unset since [`true` is the default](https://git-scm.com/docs/git-c

[2020-05-10 18:46] perost-l14 commented on #78
Hi @jmurty
Apologize for the delay. The branched version works fine, also without core.quotePath. Thanks.

You may be right about my use case. I may or may not - to be decided - encrypt it all. However, if you have a good pointer to a solution where I can encrypt the entire repository (that does not require server-side changes, does client-side encryption and is in a format that is easy recoverabl

[2020-05-11 23:42] jmurty commented on #78
Thanks for confirming the fix @perost-l14 I appreciate it!

And regarding your use-case, because you want to be able to use "any git provider" I don't know of any better options. The only alternatives I'm aware of would involve storing your Git repo to some kind of dumb *file* storage service, not a proper Git provider at all.

The best approach might be just to try it and see how it goes. And let

[2020-05-13 16:44] perost-l14 commented on #78
Thanks. I will try it out.

Regarding "any git provider". To be more clear, I mean any git provides that has a server (gitlab, github, codecommit etc.)
BTW: I am also experiencing the issue #55 and it would be great to have that fixed.

[2020-05-13 17:23] perost-l14 commented on #78
A hint: I am adding ```-delta``` to each line in  ```.gitattributes ``` I want to encrypt. In this way, I avoid having git packing (delta compression) files before pushing as that makes no sense on encrypted files. Makes push much faster. Example
[code]

[2020-05-14 17:42] perost-l14 commented on #78
And a question: openssl enc uses the -a flag to generate base64 output. As base64 takes up a lot of space on the disk (and on a git server), couldn't it just as well be binary output? Text output makes sense when things needs to be compared; however, encryption makes the text undiff'able.

[2020-05-14 23:34] leogao2 opened #81 "Overridden add/sub throws TypeError."
Objects with overridden +/- throw typeerror.

To reproduce:

[code]

[2020-05-14 23:36] leogao2 opened #82 "Object as map key"
Python supports objects in map key, but js doesn't. The js map will end up having the string "[object Object]" as key instead.

If implementing this has negative performance implications, then a pragma would be nice.

[2020-05-14 23:36] leogao2 commented on #81
Wrong repo.

[2020-05-14 23:36] #81 closed

[2020-05-14 23:36] #82 closed

[2020-05-14 23:38] leogao2 commented on #82
Oops, posted on wrong repo.

[2020-05-21 14:18] jmurty opened #85 "Consider improving transcrypt's handling of large files"
As @perost-l14 mentioned in [these](https://github.com/elasticdog/transcrypt/issues/78#issuecomment-628133232) [comments](https://github.com/elasticdog/transcrypt/issues/78#issuecomment-628786575) on #78 transcrypt currently does some things that hinder its use for encrypting many and/or large files.

This ticket is to draw out suggested improvements so they don't get lost in the broader discussio

[2020-05-21 14:20] jmurty commented on #78
Hi @perost-l14 I have created a new ticket #85 to collect and highlight some of your suggestions about how `transcrypt`'s handling of large files could be improved, to make it easier to track your two latest comments/suggestions.

[2020-05-26 13:56] rjcoelho opened #88 "Use transcrypt on submodules"
My use case is to have a repo with shared secrets across multiple repos.
Currently it simply doesn't apply the clean/smudge filters.

[2020-05-29 14:18] jmurty commented on #88
I am not familiar with submodules and I didn't find much info from a quick look around, but from what little I have found there doesn't seem to be an easy way to apply smudge filters etc in the "parent" repo and have them applied in "child" submodule repos.

This Stack Overflow answer has a work-around, though it doesn't seem like it would be much better or cleaner than writing a script to automat

[2020-05-29 20:38] rjcoelho commented on #88
What I did was cd into the submodule path and run transcrypt from there .. it works

[2020-05-30 14:24] jmurty commented on #74
Hi @TheLocehiliosan thanks for the report and reproduction steps. I confirmed the issue, and found that it also occurs when you uninstall transcrypt which also removes the creds and shouldn't leave behind (non-obvious) plaintext data.

I have applied a fix in the branch [74-clear-cached-plaintext-when-creds-flushed](https://github.com/elasticdog/transcrypt/tree/74-clear-cached-plaintext-when-creds

[2020-05-30 14:47] jmurty commented on #72
Hi @apeschel the new `--upgrade` command added in https://github.com/elasticdog/transcrypt/pull/86 might help with updates. It's still a manual step, but easier than the uninstall-then-reinit process.

[2020-05-30 15:41] jmurty commented on #55
I think the best approach for handling this situation would be for transcrypt to switch to using the more secure `-pbkdf2` and `-iter` options by default, but in a way that minimises breaking changes as much as possible.

Here are some rough ideas on how to do this, and a longwinded (sorry) brain-dump about how it could all work.

### Additional features

- add support for a new (optional?) `trans

[2020-05-30 18:30] TheLocehiliosan commented on #74
@jmurty - This is pretty close, but I think depending on how long the transcrypt credentials have been present, it is still possible for encrypted data to be present. `git prune` doesn't effect unreachable objects which have already been packed. I verified this by adjusting my reproduction steps like so:

1. Clone transcrypt-enabled repo

2. Run `transcrypt` with valid credentials

3. Run `git log

[2020-05-30 19:08] TheLocehiliosan commented on #74
I did a few more tests myself. Seems like repacking might not be good enough. I was able to purge all the unreferenced objects via `git gc --prune=now`. But I'm not sure if there's a better way.

[2020-06-01 00:46] jmurty commented on #74
Thanks @TheLocehiliosan for the follow-up testing, and for catching my overlooking of packed objects.

I improved the tests to exercise the packed plaintext objects situation, and experimented with different ways to clear these out but the `git gc --prune=now --quiet` command seems like the best option.

The alternative is to run `git prune` then `git repack -ad` which doesn't seem like much less

[2020-06-01 04:28] TheLocehiliosan commented on #74
@jmurty - I've tried this out, and it seems solid to me. 👍

I think the garbage collection **is** better than repack using `-a`. I think `-a` would result in a single pack, which isn't ideal for transferring data efficiently, so this seems to be the best way.

[2020-06-01 20:42] elasticdog commented on #74
Thank you @TheLocehiliosan for the report and ongoing testing...you're right that the caching was added to increase performance, especially when scrolling through history (via 5795360ff65221335cdd37f99c13ae2009a44ea0). One of the classic hard things in computer science :-)

[2020-06-01 20:49] elasticdog commented on #55
I think most of that sounds sane, but I'm not sure if setting an explicit path to the binary (versus just relying on the user's `$PATH`) would be worth the trouble versus transparently testing and warning about incompatibility issues. Is there a scenario you're imagining where the user would install a more modern version of openssl, but not want it to be their environment's default?

[2020-06-02 12:22] jmurty commented on #78
Hi @perost-l14 since the fix for the main `core.quotePath` issue in this issue is merged to master I will close this one and leave #85 in place to track your other suggestions.

[2020-06-02 12:22] #78 closed

[2020-06-02 12:29] jmurty commented on #72
Hi @apeschel I think the new `--upgrade` command added to the master branch in ea4aa35c solves the main problem outlined in this issue, so I am closing this specific issue. Please let us know what you think of it if you are able to try the `--upgrade` command now on the *master* branch.

Your idea about "internalising" the various clean / smudge / merge scripts as mentioned here and explored in de

[2020-06-02 12:29] #72 closed

[2020-06-02 12:39] jmurty commented on #55
That is a good point that we should expect users to simply add a newer version of OpenSSL to their path once they have gone to the trouble of installing it.

I myself don't do this on macOS despite installing later versions with Homebrew, mainly because I'm scared of breaking things in subtle ways which is surprisingly easy to do with macOS + OpenSSL + Homebrew. The fact I don't see the ugly OpenS

[2020-06-02 13:22] jmurty commented on #74
The fix is now merged to the *master* branch, thanks very much for the report @TheLocehiliosan

[2020-06-02 13:22] #74 closed

[2020-06-02 13:26] jmurty commented on #67
The merge and rebase problems should be solved by PR #76 which is now merged to the *master* branch and will be included in the next release.

[2020-06-02 13:26] #67 closed

[2020-06-02 13:29] jmurty commented on #61
Hi @ricardo0624 can you try [this suggested fix for Windows 10](https://github.com/elasticdog/transcrypt/issues/78#issue-606977699) that uses Git's included bash interpreter?

[2020-06-03 13:44] ricardo0624 commented on #61
@jmurty thanks a lot,but now I have work in manjaro linux and no longer to need it.

[2020-06-03 13:44] #61 closed

[2020-06-03 21:15] TheLocehiliosan commented on #74
Thanks for the effort on this issue!

[2020-07-24 21:02] andreineculau commented on #88
@rjcoelho your case is a special case, as it sounds you have a parent repo with submodules that **all** share the same master password. What happens when you add a submodule that has another master password?

I don't see why transcrypt would take care of something that 1. is special 2. has a super simple solution already GIVEN your special circumstances.

All you need is really to share a bash scr

[2020-08-10 02:02] jmurty commented on #54
Thanks for the feedback, we will mention the `column` command and the need to install `bsdmainutils` on Ubuntu/Debian in the [next release](https://github.com/elasticdog/transcrypt/pull/84)

[2020-08-10 02:02] #54 closed

[2020-09-20 22:40] ljm42 opened #94 ""tail -c 16" syntax in crypt/clean throws an error"
[code]
The issue is in this line of crypt/clean:
https://github.com/elasticdog/transcrypt/blob/0396245e6a1e238c4a08d0b89271f2490c4ec559/transcrypt#L299

On my system at least, "tail -c 16" is not valid, but other options work:

[code]
FYI:
[code]

[2020-09-20 23:39] jmurty commented on #94
Hi @ljm42 thanks for the report, that's a surprising edge case.

Are you new to using `transcrypt`? I don't think the format of the `tail -c` command is something we have changed recently, but maybe that's been a problem case for a while and we didn't realise.

And can you please check whether a command like `head -c 8` has the same problem on your system? We use that command in the pre-commit hoo

[2020-09-20 23:44] jmurty commented on #94
Hi @ljm42 could you also please test the potential fix on this branch? https://github.com/elasticdog/transcrypt/compare/94-more-compatible-head-and-tail-bytes-commands

That branch removes the space between the `-c` switch and value for the `tail` command you mention, and for a similar `head` command in the pre-commit hook script.

[2020-09-21 01:36] ljm42 commented on #94
Thanks! yes I'm new to transcrypt :)

Interestingly, `head` doesn't have the same issues as `tail`:
[code]

This version of the file:
  https://raw.githubusercontent.com/elasticdog/transcrypt/25c3c66522d4cc56e11a32adcb8dbcb9458bb7f9/transcrypt
does allow me to "git add" without the tail error, thanks!

[code]

But I'm not sure that everything is working yet. Should "git show" automatically run the

[2020-09-21 04:23] ljm42 opened #96 ""git show" does not decrypt by default"
Running "git show" (without `--no-textconv` or `--textconv`):
`git show HEAD:sensitive_file`
behaves as though you passed `--no-textconv` to it. That is not what I expected for a "transparent" encryption process, is there a way to configure the repo so that it will default to `--textconv` instead?

Along these lines, `tests/test_crypt.bats` contains this test for `git show --no-textconv` to prove

[2020-09-21 12:44] jmurty commented on #96
Hi @ljm42 I don't think `transcrypt` can affect how the `git show` command behaves, according to [Git's documentation](https://git-scm.com/docs/git-show/2.8.6#Documentation/git-show.txt---textconv) the default (no)textconv behaviour varies depending on the specific Git command you run.

But I have seen the default behaviour for `git show` vary between platforms – from macOS to Linux – so I'm not s

[2020-09-21 12:46] jmurty commented on #94
Thanks for confirming the `tail -c` fix @ljm42
I have merged this change to be included in a future release.

[2020-09-21 12:46] #94 closed

[2020-09-21 18:51] ljm42 commented on #96
Thanks for confirming it is working as designed. I agree, if there isn't a git config for it, I wouldn't expect transcrypt to somehow change git's behavior.

The transparent part makes sense in terms of the working files, I'll keep that in mind.

Would you mind if I open a PR for that --textconv test? It would help to document the expected behavior. I wouldn't expect cross platform issues since it

[2020-09-21 20:45] jmurty commented on #96
Sure, an extra test would be good.

[2020-09-25 13:10] jmurty commented on #96
Closing this now that the PR with explicit test of `git show HEAD:sensitive_file --textconv` is merged

[2020-09-25 13:10] #96 closed

[2020-10-04 01:52] Jake-Gillberg opened #102 "Removing a file from .gitattributes does not unencrypt it"
My workflow in a repo that I am working on has been:

1. [x] Encrypt fileA that has secrets and non-secrets stored in it, commit
2. [x] Break out secrets into their own files
3. [ ] Remove encryption from fileA now that it no longer contains secrets

I am unsure of how to do step 3. I removed the file from gitattributes, but the file was commited in encrypted form.

[2020-10-04 02:15] Jake-Gillberg commented on #102
Ah, I suppose if I have already `git add fileA` /and then/ remove it from .gitattributes, git has no reason to think that it might be dirty and check it for changes. A bit annoying. Unsure if there would be an easy fix for this, other than maybe adding transcrypt commands for modifying the attributes file that also somehow marked the file as "dirty" when it is removed.

[2020-10-04 02:45] jmurty commented on #102
Hi @Jake-Gillberg I'm not sure adding and removing file paths from the *.gitattributes* file is a good idea. It isn't a common use case, and you might hit edge cases where you see unexpected behaviour or need to find work-arounds.

I would recommend instead that you have a file naming scheme where secrets files are always encrypted. Maybe something like *my-data* for unencrypted data and a corresp

[2020-10-04 02:48] jmurty commented on #102
I haven't tested this ☝️ approach in detail so there could be problems with it. I'm not familiar enough with how Git treats the *.gitattributes* file to know for sure that it is safe to remove entries from that file in the same commit as decrypting the referenced file. It should be fine, but just in case maybe clone your changes to a new repo and checkout the before and after commits just to make

[2020-10-04 18:31] Jake-Gillberg commented on #102
Thanks for the reply! I like the idea of using a pattern to decide which files are encrypted. I'll most likely create a `secrets` directory in my project and add `secrets/*` to .gitattributes.

Closing, since this isn't an issue when using this project as intended.

[2020-10-04 18:31] #102 closed

[2020-10-20 11:50] stherold opened #103 "FIXED: 🚨 Wrong SHA Hash in Homebrew Formula"
Our dependency installation aborts now constantly because you have a mismatch in you SHA2 between
- https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/transcrypt.rb (0075a25f7fb48ddfcfb33dd834a5f12fe0644ed4fb5ab0a5f2f7dca06e9ed48c)
and
- https://github.com/elasticdog/transcrypt/archive/v2.1.0.tar.gz (02193c435543f3a2dd8f3d8c588e90f01979a66037d783275e25e3108e39c060)

Since we cannot instal

[2020-10-20 11:57] christophemenager commented on #103
I have the exact same issue
![image](https://user-images.githubusercontent.com/17217868/96582861-2b178980-12dc-11eb-9ecd-9362d7ffc630.png)
This is quite critical for us too...

[2020-10-20 11:58] jmurty commented on #103
Shoot! That's my fault, I moved the `v2.1.0` tag to a later commit to include changes related to the 2.1.0 release but didn't think through the implications.

I have moved the tag back which should fix the problem, I'll test myself now.

[2020-10-20 12:10] stherold commented on #103
The problem is that the Homebrew formula has to be renewed since it still has the wrong tag.

[2020-10-20 12:19] jmurty commented on #103
I have fixed the `v2.1.0` tag but the tag-based tarball downloads from https://github.com/elasticdog/transcrypt/archive/v2.1.0.tar.gz (via https://codeload.github.com/elasticdog/transcrypt/tar.gz/v2.1.0) still hash to the incorrect 02193c43... SHA2 value.

I *think* this is because the tarball downloads are cached and not regenerated immediately, but that doesn't help much since I don't know when

[2020-10-20 12:22] stherold commented on #103
What a bout a Hotfix release?

[2020-10-20 12:45] jmurty commented on #103
I was holding off on a hotfix tag and PR update to the brew formula in the hope the tarball archive would update before too long, and I think it now has.

The tarball download of `v2.1.0` is now updated and fixed for me:
[code]

A fresh install with `brew install transcrypt` also worked for me, **but** I had to clear homebrew cache first with `brew cleanup --prune 0`

Can anyone else confirm the f

[2020-10-20 13:14] jmurty commented on #103
I believe this is now fixed. However, on systems that downloaded the faulty `v2.1.0.tar.gz` file **the Homebrew download cache may need to be cleared** before the fixed version will be re-downloaded.

Clear (prune) the Homebrew download cache of transcrypt files with:
[code]

You can tell you need to clear the download cache if you see "Already downloaded" before the "SHA256 mismatch" error messag

[2020-10-20 14:01] stherold commented on #103
For me the local reinstall works and Bitrise CI (which installs the version fresh everytime) is also working. Thanks for the quick fix 👍

[2020-10-20 14:20] christophemenager commented on #103
Problem is fixed for me too ! Thanks @jmurty for your reactivity :)

[2020-10-20 15:50] elasticdog commented on #103
Looks like I should re-sign the commit with the `v2.1.0` tag since it no longer shows up as "verified"? I haven't done that before, but I'll poke at it.

[2020-10-20 16:20] elasticdog commented on #103
Okay, I just force-pushed the signed tag so it is now verified. I've checked that the archive's sha256sum matches above, and the release page looks as expected.

@jmurty can you re-verify on your end before closing this out?

[2020-10-20 17:14] stherold commented on #103
For me the SHA is still matching https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/transcrypt.rb

[2020-10-20 19:45] jmurty commented on #103
Thanks @elasticdog! I have confirmed that the SHA256 matches on direct download and a Homebrew reinstall also works.

I will leave this issue open for a few days so it's easier to find in case anyone is stuck after downloading the faulty archive.
I will add a "FIXED" prefix to the title in the meantime to show it has been fixed.

[2020-11-26 01:22] andreineculau commented on #37
Hate to do a +1, but I'm now experiencing this when running WSL on Windows on Github Actions.

[2020-11-26 23:03] jmurty commented on #37
Hmm, is there any reason we shouldn't apply the naïve but simple "fix" and always run `git update-index -q --really-refresh` or `git status` *before* checking for a clean repository?

It would be weird voodoo, but should at least solve the problem.

[2020-11-26 23:18] andreineculau commented on #37
It's not really voodoo :) after you read the tiny details, that is.... *sigh* it's just that diff-index gives you a probabilistic view of the world, not a binary one that's all. So if we want to stick to diff-index, then we need update-index. Otherwise we can use a higher-level git command like `git status` that gives you a binary answer.

[2020-11-26 23:26] andreineculau commented on #37
for example, have a look at how the git bash prompt detects dirty state
https://github.com/git/git/blob/e31aba42fb12bdeb0f850829e008e1e3f43af500/contrib/completion/git-prompt.sh#L527-L528

[2020-12-01 22:32] ljm42 opened #104 "transcrypt ignores the `git config core.hooksPath` setting"
By default, git runs hooks from the `.git/hooks` directory, but it allows for the directory to be adjusted through the `core.hooksPath` setting, like this:
  `git config core.hooksPath "/some/other/path"`

The PR below updates transcrypt to use the `core.hooksPath` setting if it exists, otherwise it defaults to `.git/hooks`

This change should be transparent, except that I did add the GIT_HOOKS di

[2020-12-16 21:09] evilhamsterman opened #106 "Add PKGBUILD to AUR"
Please add the PKGBUILD to the AUR. It looks like a simple PKGBUILD that should be easy to add and will make it easier to find and install on Arch Linux, eventually it could even be added to the community repo.

[2021-02-03 02:26] jwatt opened #108 "Suggestion: provide a mechanism for users to specify the openssl path"
On macOS it would be useful to be able to tell `transcrypt` to use the Homebrew installed `openssl`, but I don't want to add `/usr/local/opt/openssl/bin` to `PATH` due to the potential for side affects. More specifically I'm hoping that `yadm` could pass any value set for `yadm.openssl-program` in its configuration file along to `transcrypt` in order to avoid the "deprecated key derivation used" w

[2021-02-03 11:57] jmurty commented on #37
Hi @andreineculau it's been a while sorry, but I have created a pull request with a potential fix to more reliably detect dirty repositories, without false positives. It would be great if you could look over it or test it: https://github.com/elasticdog/transcrypt/pull/109

[2021-02-03 12:38] jmurty commented on #104
Hi @ljm42 thanks for your submission. I have created a new pull request #110 which respects the `core.hooksPath` setting, without reporting on it under `--display`. I feel it's probably excessive to report on the `GIT_HOOKS` path even if it has a custom setting, since it isn't really specific to Transcript and the user is probably already aware of that customisation.

Regarding the custom location

[2021-02-03 12:40] jmurty commented on #106
Hi @evilhamsterman that's a great idea, but I don't know how to go about doing this. Could you provide more information on the steps required?

[2021-02-03 12:49] jmurty commented on #103
It's been a while since I broke Homebrew installations, so it should be okay to close this issue now.

[2021-02-03 12:49] #103 closed

[2021-02-03 13:04] jmurty commented on #108
Hi @jwatt this is something we have discussed before in and around this comment: https://github.com/elasticdog/transcrypt/issues/55#issuecomment-637094456
So far we have decided against making the OpenSSL binary path configurable, though like you I would enjoy being able to customise the OpenSSL version used on MacOS.

I'm not familiar with `yadm` (Yet Another Dotfiles Manager). This seems to be t

[2021-02-03 15:25] evilhamsterman commented on #106
The Arch wiki has submission guidelines and procedures on their wiki https://wiki.archlinux.org/index.php/AUR_submission_guidelines. I have never done it myself so I can't say anything more than pointing you in that direction.

[2021-02-03 19:21] andreineculau commented on #37
Well, I have already implemented this in https://github.com/rokmoln/support-firecloud/commit/4834b270fb0b2d9a3eb61d99d42ac6c65e9ae5e2 (basically just for my usecase of WSL in CI) and it does work. I'd be surprised if your fix gives degraded outcome.

I'm currently not able to test this, but it's a +1 from me.

[2021-02-04 00:42] jwatt commented on #55
andreineculau already gave "as far as I know" version numbers, but to confirm them I went digging for the relevant info.

From [this commit](https://github.com/libressl-portable/openbsd/commit/0bd17d373f1cba95222018ce3875032e2b522cab) it looks like `-pbkdf2` and `-iter` were added to LibreSSL at the same time (although the commit message and subsequent release notes only mention `-pbkdf2` explicit

[2021-02-04 01:08] jwatt commented on #55
No, I agree with you. I have also previously had unexpected things break when adding Homebrew's keg-only OpenSSL to `$PATH` on macOS, and therefore for the same reason would benefit from being able to tell `transcrypt` where to find the `openssl` binary if `-pbkdf2` and `-iter` support is added.

I'd note that yadm [added the config option](https://github.com/TheLocehiliosan/yadm/pull/138) `yadm.o

[2021-02-04 01:13] jwatt commented on #55
Could it just live in `.git/config` like the other settings in the `[transcrypt]` section, and be transported between repos via the command that's output by `git transcrypt --display`?

[2021-02-04 02:04] jwatt commented on #108
Hi @jmurty. Thanks for the reply and link to the previous discussion.

Note that I'm just a casual user of yadm. That said, it seems like yadm is essentially a git wrapper that at its core invokes `git --git-dir=~/.local/share/yadm/repo.git --work-tree=~ <other args passed to yadm>` (plus other niceties).

yadm, like transcrypt, is just a single file shell script. I had expected that `yadm` invoke

[2021-02-06 12:28] jmurty commented on #55
That's a very good point. A single repo-wide cipher setting in the Git config's `[transcrypt]` section would indeed be much simpler than per-file settings.

Thinking through the repercussions, the possible downsides are:
1.  All the repo's secret files would need to use the same cipher version settings (this is where the simplicity comes from).
2. Secret files would all need to be be upgraded (re-

[2021-02-06 12:35] jmurty commented on #37
Hi @mrmachine @dfee and anyone else watching this issue, could someone test and confirm the potential fix for detection of dirty repos in pull request #109?

[2021-02-06 14:25] jwatt commented on #108
As you pointed out in https://github.com/elasticdog/transcrypt/issues/55#issuecomment-774470172, storing the path in the user's `$XDG_CONFIG_HOME/git/config` or `~/.gitconfig` doesn't seem like a good idea. Many people synchronize their `~/.gitconfig` and other dotfiles across multiple machines, and the `openssl` path will likely vary from machine to machine.

Perhaps storing the path in the per-r

[2021-02-08 18:03] ljm42 commented on #104
Thanks @jmurty, this looks great! A command line param for --crypt-path sounds like a good solution too

[2021-02-12 13:33] jmurty commented on #108
Hi @jwatt in #111 I have taken a first pass at implementing an `--openssl-path` argument option to set the OpenSSL binary version transcrypt will use. This setting is stored in the a local Git config `transcrypt.openssl-path` and defaults to `'openssl'`.

You can use the `--upgrade` operation to update the path in a pre-configured repo, like so:
[code]

Can you try this and see if it works for you

[2021-02-23 20:05] tychota opened #113 "# [RFC] Implement Authenticated Encryption using libsodium"
# [RFC] Use libsodium instead of OpenSSL

## Summary

This RFC conceptualise the implementation and migration of libsodium instead of OpenSSL to power transcrypt.
It will increase security and usability at a minor cost of installation ease and while supporting a lot of platforms.

## Motivation

Expected outcome is to have better security and usability, while still supporting a wide range of platf

[2021-02-23 20:07] tychota commented on #113
Hello there.

Thank for the library. It is widely used at https://www.bam.tech/bam-agence-experte-design-et-d%C3%A9veloppement-mobile
I opened this RFC as I was encountering malleability issues and lost a bunch of time today.

I'm proposing some design change for the lib, as I notice the subject isn't present in other issue.

I'm open for discussion and I will be updating the RFC as discussion ari

[2021-02-26 18:46] ljm42 commented on #104
I like the changes you are working on over in https://github.com/elasticdog/transcrypt/pull/112

Would you be open to defining something like this:
`CRYPT_PATH="${GIT_DIR}/crypt"`
and then using that variable everywhere? It would make it much easier for me to tweak my local install, even without having the `--crypt-path` option

[2021-02-27 11:24] jmurty commented on #108
Hi @jwatt I think the recently-merged `--set-openssl-path` feature in dce1ad0dc41d3fb5eb754e5e135761910f275968 should let users set a custom path to OpenSSL. `--set-openssl-path`

For macOS users with newer, better versions of OpenSSL installed with Homebrew a command like the following will tell transcrypt to use that version instead of the one included with macOS: `transcrypt --openssl-path=/usr

[2021-02-27 11:24] #108 closed

[2021-02-27 12:57] jmurty opened #115 "Broken macOS tests: latest macOS release 11.2.2 Big Sur has newer OpenSSL and Git versions?"
This is most likely a problem in GitHub's `macos-latest` test OS feature, but there is also a chance that the latest macOS release 11.2.2 upgrades OpenSSL and Git in significant ways.

I have been pushing changes and triggering tests tonight, then all of a sudden I started getting strange failures for just the macOS test runs and the following outputs:

- OpenSSL version `1.1.1j` (my version is `L

[2021-02-27 12:58] jmurty commented on #115
The macOS release notes for 11.2.2 are too vague to give any useful details, and the linked web site doesn't (yet) even show 11.2.2 notes for me:

[2021-02-27 13:04] jmurty commented on #104
Hi @ljm42 thanks for the reminder, this is on my radar. I'm doing some further clean-up work based on the now-merge #112 PR which should make it easier still to customise the `crypt/` directory path.

[2021-02-27 19:55] ljm42 opened #116 "'clean' filter fails on small files"
If you try to encrypt a small file (less than 8 chars) it fails:

[code]

The problem is with the `read` command in git_clean():
  https://github.com/elasticdog/transcrypt/blob/dce1ad0dc41d3fb5eb754e5e135761910f275968/transcrypt#L129

One solution is to add an `or` statement like this:
[code]

[2021-03-01 12:29] jmurty commented on #104
Hi @ljm42 I think the latest commit in PR #114 (on the `further-clean-up-helper-scripts` branch) will give you a reasonable way to control where transcrypt puts its `crypt/` directory.

If you manually set the `transcrypt.crypt-dir` setting **before** init-ing transcrypt in a repository, it should respect that path when storing and using the (now single) scripts it stores in the `crypt/` directory

[2021-03-01 12:51] jmurty commented on #116
Hi @ljm42 can you please test the change in PR #117 to see if it fixes the problem with small files?

[2021-03-01 13:21] jmurty commented on #115
Closing this, the test failures were my user error.

GitHub does use a newer OpenSSL version that is actually provided by default with macOS, so that's something to be wary of in a testing context, but now that I have upgraded to 11.2.2 myself I can confirm that the OpenSSL version provided by Apple by default remains old :(
[code]

[2021-03-01 13:21] #115 closed

[2021-03-01 22:38] ljm42 commented on #116
This is great! I really appreciate you looking into this, and for your work on #114  as well!

My dataset includes txz files, which are essentially zips that have been renamed. And apparently they contain null bytes in the first 8 chars, because they cause this line:
`firstbytes=$(head -c8 "$tempfile")`
to throw this error:
`transcrypt: line 134: warning: command substitution: ignored null byte in

[2021-03-01 22:51] ljm42 commented on #104
Nice! I like that the filters call `transcript clean` so we don't even need a separate `clean` file now :)

All of the unit tests pass on my system, in case that was a potential question.

I can confirm that both of these settings are respected and files are put in the right place, woot!
* git config core.hooksPath /path/to/git-hooks
* git config transcrypt.crypt-dir /path/to/git-crypt

I have don

[2021-03-01 23:10] ljm42 commented on #104
Actually, not going quite as well as I thought. I am not able to commit a txz file once adding it to a repo. Pretty sure every txz/zip will have the problem, but here is a test file that definitely has it:
  http://slackware.cs.utah.edu/pub/slackware/slackware64-14.2/slackware64/d/git-2.9.0-x86_64-1.txz

[2021-03-01 23:32] ljm42 commented on #104
Here is a test script to show the problem:

[code]

[2021-03-03 14:43] elasticdog commented on #115
Very interesting that GitHub chooses to update the version of OpenSSL on the Mac runners...definitely good to know for future reference.

Related to the hint output, I'd certainly be on board for updating the default branch from `master` to `main`. GitHub did recently release their [tooling to seamlessly rename branches](https://github.blog/changelog/2021-01-19-support-for-renaming-an-existing-bra

[2021-03-31 09:42] Aramgutang opened #118 "Partial commits of encrypted files use the wrong salt"
While `git add -p` doesn't work with transcrypt, and some GUIs (e.g. git-cola) will not let you stage hunks/lines of changes for encrypted files, such partial commits do appear to be possible from VS Code (and possibly other interfaces).

However, such commits have the unfortunate side effect of leaving the repo in a state where (after any uncommited changes are removed, or the commit is pulled on

[2021-03-31 09:48] jmurty commented on #118
Thanks for the detailed report and debugging @Aramgutang

If you create a pull request with your proposed fix the automated unit tests should run, giving us a quick check for any unexpected problems.

[2021-04-22 21:08] ljm42 commented on #104
Would it make sense to commit all this and then have a separate issue for txz files?

[2021-04-22 23:04] ljm42 opened #120 "`git rm --cached` vs `git reset`"
When I add existing files to Transcrypt via .gitattributes:
```  config/** filter=crypt diff=crypt merge=crypt```

Then `git commit` on other files results in this message:
[code]

Except that `git reset` has no effect. In order to get past this I have to do this:

[code]
Would it make sense to change the error message to use `git rm --cached` instead of `git reset`?

[2021-04-26 12:15] jmurty commented on #118
This fix is now merged via #119

[2021-04-26 12:15] #118 closed

[2021-04-26 14:26] jmurty commented on #104
Hi @ljm42 thanks for following up, I tested the example you provided and it showed genuine bugs in PR #114 so that needs more work before it can be merged.

I have applied fixes to the PR's `further-clean-up-helper-scripts` branch which fixed the `txz` file problems for me, can you please re-test to confirm?

[2021-04-26 14:43] jmurty commented on #116
Hi @ljm42 I have updated the PR #117 with a couple of extra tests for small files and files with a null byte near the start.

Can you check that the `fix-clean-filter-for-small-files` branch works for your problem files? If so, I should be able to merge what is a fairly minor change.

[2021-04-26 14:49] jmurty commented on #37
With the merge of https://github.com/elasticdog/transcrypt/pull/109 this issue should now be fixed. Please re-open if dirty repo detection is still failing for you when using the latest *transcrypt* from the `master` branch.

[2021-04-26 17:27] ljm42 commented on #116
Sorry, #117 `fix-clean-filter-for-small-files` branch still throws warnings with txz files (although I think it does actually encrypt them). Here is a test with a small txz file (rather than the string from the new test `sh\0x`):

[code]
Running line 129 directly results in the same:

[code]

With this modification there are no more warnings:
`# firstbytes=$(head -c8 archive.txz | tr '\0' ' ')`

I

[2021-04-28 13:08] jmurty commented on #116
Thanks for the continued test feedback. This one is tricky.

I haven't been able to reproduce the warning message on my Mac, so I Googled and it looks like that warning is new in Bash version 4.4: https://askubuntu.com/questions/926626/how-do-i-fix-warning-command-substitution-ignored-null-byte-in-input

Unfortunately, while adding the simple `tr` command might work for Bash 4.4 and later it doesn

[2021-04-28 13:46] jmurty commented on #116
I have applied the `LC_ALL=C tr -d '\0'` fix on the `fix-clean-filter-for-small-files` branch, can you please try it again @ljm42?

[2021-05-05 18:32] ljm42 commented on #116
So sorry for the delayed response! This fix works great for me. I'm impressed with how many variations of bash/etc that you are able to handle!

There are two other instances of "head -c8" in transcrypt, do they need need this as well?

[2021-05-24 16:35] Drarig29 commented on #59
I suggest using `-md sha512 -pbkdf2 -iter 100000`: https://askubuntu.com/a/1126882/708806

[2021-06-01 11:10] rioukkevin opened #124 "How to handle hidden file in crypt ?"
Hi,
I don't find information on how to handle file like .npmrc at project root in transcrypt, does anyone know how ?
Thanks for your help
Have a nice day and be happy :wink:

[2021-06-01 11:45] jmurty commented on #124
Hi @rioukkevin if you want to encrypt files like `.npmrc` with transcrypt you [add a matching "crypt" pattern to the `.gitattributes` file](https://github.com/elasticdog/transcrypt#designate-a-file-to-be-encrypted).

Add a line like the following to `.gitattributes`, then `git add .gitattributes .npmrc` and commit to (re-)add these files to Git:

[code]

Run `git ls-crypt` to make sure the files y

[2021-06-01 12:57] rioukkevin commented on #124
Thank you, I'll try it

[2021-06-08 07:32] #124 closed

[2021-08-31 12:04] jmurty commented on #55
Since we haven't any progress on this issue in months or years, maybe it's time to consider a simple but brutal solution instead of anything that's more elegant but complicated and therefore keeps getting deferred?

The best way to unblock this could be to start a branch & PR working towards an update which would explicitly break compatibility with older OpenSSL versions (including the default tha

[2021-08-31 15:26] Erotemic commented on #55
I've been using my fork which blindly enables `-pbkdf2` and uses `SHA512` for hashing for 2 years now: https://github.com/Erotemic/transcrypt

Using MD5 and no `-pbkdf2` is simply not secure in my use case. So from my perspective this repo (and the default on OSX) is broken without it.

@elasticdog

This could be the case for something like CUDA, not sure if it would be the case for openssl, but w

[2021-08-31 16:14] andreineculau commented on #55
To put gas on fire - openssl 1.1.1 was released november 2018, libressl 2.9.1 in april 2019. If we go ahead requiring these versions, that's how new software we require.

[2021-10-14 23:46] brianmay opened #127 "git reports files changed when there are no changes"
I have had this often happen. And it kind of makes transcrypt very difficult to use, as git thinks the work tree is not clean.

[code]

The files in question were never modified locally.

A work around seems to be to commit the non-existent changes anyway, but that doesn't appear to be a good a long term solution. Eventually it will happen again.

[2021-11-01 12:34] balupton opened #128 "Redo `echo-lines` backlashes with `<<-EOF`"
This trims indentation:

[code]

This does not trim indentation:

[code]

While we are at it, we could also replace `stderr` with `>&2` perhaps.

[2021-11-01 12:58] balupton commented on #128
I'm an idiot, wrong repo.

[2021-11-01 12:58] #128 closed

[2021-11-23 12:25] marcelcremer commented on #127
This one occured to us since about two or three weeks ago.
- we have mac and WSL/Ubuntu in use
- I thought it might have something to do with different openssl versions (1.1.1f in ubuntu vs. LibreSSL 2.8.3 on mac), but even after installing and using LibreSSL via homebrew it still shows changes where no changes are present
- transcrypt is for all of my team members 2.1.0
- resetting or checking ou

[2021-12-14 23:41] PartTimeDataScientist commented on #37
I think I've ran into the same issue with the newest version from master (2.2.0-pre). I am trying to automate DNS management with DNScontrol and Jenkins and the creds.json file is encrypted with transcrypt. Here's an excerpt of a Jenkins run where neither `git status` nor `git checkout main` or `git update-index -q --really-refresh` resolves the issue. In this run the commands are all chained but

[2021-12-15 03:30] andreineculau commented on #127
Which git version? I'm guessing https://github.com/elasticdog/transcrypt/issues/37 is back maybe due to a newer git.

Also could you please copy-paste an exact output of transcrypt? It's always good to iron out that we're taking about the same thing.

[2021-12-15 04:07] andreineculau commented on #127
I misread. You're saying it's 100% git.
So you're saying that you have cloned, worked etc and then all of a sudden you get dirty files though not dirty? Assuming the files in question are transcrypted, and they haven't been changed between checkouts i.e. empty diff pre-checkout-HEAD..HEAD

[2021-12-15 05:17] coxjc commented on #127
FWIW, I'm getting same the issue. I'm checking out #37  now.

Git version: git version 2.24.3 (Apple Git-128)
On the latest Transcrypt.

[2021-12-15 05:22] coxjc commented on #127
I keep getting the following anytime I run a git command:

[code]

I also can't get unchanged files to say they're unchanged.

[2021-12-15 05:29] coxjc commented on #127
UPDATE: I resolved this by overwriting the Xcode-packaged git w/ Homebrew. Now I'm on git 2.34.1 and all is good.

[2021-12-15 05:31] brianmay commented on #127
@coxjc See #59 concerning those (annoying) warnings. I suspect fixing this might cause breakage.

I have had this problem - changes when there are no changed files - occur through a number of versions of git. Typically after I pull changes from other developers. It might be caused be differences between development environments between different developers.

Once I fix the problem - e.g. by commit

[2021-12-15 05:32] jmurty commented on #127
Could anyone experiencing this issue try the latest pre-release version of transcrypt from the `main` branch?

The fix for #37 (PR #109) was merged back in April 2021 but we haven't cut a release since 2.1 in September 2020, so there's a chance the pre-release version on `main` will fix it.

Or manually run `git update-index -q --really-refresh` in the repo to see if that fixes the incorrect stale

[2021-12-15 05:39] brianmay commented on #127
@jmurty I think when I last experienced this I did have that change. From the git repo. git version aea3ff83c7aea95b18e18839d5beb6da29b7548c to be precise.

Will keep your suggestions in mind if I can reproduce the problem.

[2021-12-26 17:35] qmarcou opened #129 "using transcrypt on LFS files"
Hi!
First of all thanks for this great and simple tool!

I was wondering if there was a way to use transcrypt on LFS files? Upon trying to do it I realized that both LFS and transcrypt use .gitattributes, e.g trying to encrypt a file on lfs I would use:
[code]
and would obtain the following .gitattributes
[code]
And upon staging the file it will be encrypted but not treated as LFS file.
Is there a

[2022-01-11 22:28] brianmay commented on #127
I have the following version of transcrypt, which I believe is the latest in main:

[code]

`git pull` on transcrypt dir does nothing:

[code]

`git status` on my repo reports files changed:

[code]

I removed the untracked files from the output, these are expected and not related.

`git diff` reports no changes:

[code]

If I run the suggested command I get:

[code]

But the output of `git status

[2022-01-15 12:20] jmurty commented on #127
Thanks for the detailed report @brianmay. I appreciate all the reports and feedback here into what is an annoying and difficult to reproduce issue.

Unfortunately I only have some guesswork to offer in response, but it's worth looking into especially since it aligns with your suspicions about there being "something different" about commits from another developer.

In issue #118 @Aramgutang found,

[2022-01-15 12:31] jmurty commented on #129
Hi,

I don't think there is an easy way to apply multiple `filter` etc options on the same file. Doing this would involve carefully chaining the two separate tools so they work together, which might be possible but would be difficult to get right.

Googling Git filter chaining returned few results, none of them very promising like https://stackoverflow.com/questions/13988619/apply-multiple-filters

[2022-01-15 13:09] jmurty commented on #120
Thanks for the suggestion, this is done in 331b4afa859df38969aa0689a9a0001e2525f9e8

[2022-01-15 13:09] #120 closed

[2022-01-15 13:25] jmurty commented on #116
I'm very late getting to this, sorry.

It's possible the other uses `head -c8` are problematic, but since you haven't seen any definite problems for the unusual files in this ticket I'm reluctant to change them just in case.

For now I'll leave the minimal change as it is, and finally get it merged to `main` via #117

[2022-01-15 13:25] #116 closed

[2022-01-15 14:13] jmurty commented on #104
The last remaining fixes for problems identified in this issue are now merged to `main` in fdf81c53f0ad27651e03a67ea732b164d209e948 (via #114)

In particular I have confirmed that, post-merge, this [test script](https://github.com/elasticdog/transcrypt/issues/104#issuecomment-788394878) works and results in two commits.

[2022-01-15 14:13] #104 closed

[2022-01-16 02:33] brianmay commented on #127
Other developer on leave until February, will follow-up then.

[2022-01-19 16:19] fannytavart commented on #127
I had the same issue, I was able to fix it by uninstalling OpenSSL and installing LibreSSL (`brew install libressl`) instead.

[2022-01-27 18:32] ljm42 commented on #116
Awesome, thank you very much!

[2022-01-27 18:38] ljm42 commented on #104
This is great, thank you very much!

[2022-02-23 16:28] ddmee opened #131 "Unable to encrypt .pem file?"
Hi, I've been trying to encrypt a certificate with transcrypt.

Let's say I have a certificate file in my git repo at `<repo>/cert.pem`

[code]

If I add the file to transcrypt via gitattributes, when I try to commit the file I get the warning

[code]

Using https://github.com/elasticdog/transcrypt/issues/120 `git rm --cached cert.pem` doesn't fix the problem.

I guess transcrypt must think that t

[2022-02-24 10:46] jmurty commented on #131
Hi, the only way I have been able to reproduce this problem with a PEM file of my own is to make repository changes in a subtly wrong order: by staging the pem file first and only updating the *.gitattributes* file afterwards.

Could this be what is going wrong for you?

If have confirmed that if I change the *.gitattributes* file before `git add`ing  the pem file, I am able to transcrypt a pem fi

[2022-02-28 10:44] ddmee commented on #131
Hi Jmurty. Thanks for trying to reproduce this. No, I had updated the .gitattributes before I staged the pem file.

I have tested the sequence as you described. And pem file did encrypt correctly.

So at least that confirms that .pem files are encryptable by transcrypt.

I suppose the other thing to note is that the .pem files I was trying to encrypt are actually mounted onto the filesystem from a

[2022-03-06 19:58] tavurth commented on #127
This issue started for me after finally updating to `Monterey` Mac OS recently, which seemed to remove my SSL configuration. I installed `OpenSSL` and this issue appeard.

[2022-03-06 20:59] brianmay commented on #127
I have a suspicion this might be still occurring for me too, but my coworker is rather busy, and haven't been able to confirm what version he is using yet.

[2022-03-15 00:32] evilhamsterman commented on #106
Any update on this, it appears someone has submitted your PKGBUILD to the AUR on your behalf https://aur.archlinux.org/packages/transcrypt.

[2022-04-25 11:51] andersjel commented on #55
Just a minor concern related to this:
Is the salt derived from the password stored in the repository? If so, could it be used to brute-force the password regardless of the used -pbkdf2 argument? I.e. could the attacker try different passwords to get the correct salt without applying the pbkdf2 function?

[2022-04-25 19:27] andersjel commented on #55
@Erotemic The issue is that the salt is prepended to the encrypted file:
[code]
So to brute-force the password, the attacker only has to do SHA512 HMAC operations until the attacker finds the correct salt, and not the much more expensive pbkdf2.

[2022-04-27 13:32] jmurty commented on #55
Hi, this is an interesting discussion especially given the (slow) work in #126 to adopt PBKDF2 for a future update to Transcrypt.

I'm not a cryptographer so am out of my depth, but from @andersjel's code examples the use of the known filename + unknown password as inputs to generate the salt does seem like a potential problem.

What would be a better approach? Should/could the salt be generated f

[2022-04-27 13:42] jmurty commented on #55
Ah, random data won't work: https://github.com/elasticdog/transcrypt/blob/fdf81c53f0ad27651e03a67ea732b164d209e948/transcrypt#L115-L120

[2022-04-27 14:03] jmurty commented on #55
I _think_ the salt generation process is secure (enough) because the salt isn't derived from just `"${filename}:${password}"` it also hashes the contents of the plaintext file.

To brute-force the password an attacker would only need to do SHA512 HMAC operations, but they would need to guess both the password *and* the plaintext file contents. If the attacker can guess the plaintext, then they don

[2022-05-07 20:26] Erotemic opened #133 "OpenSSL 3 will break transcrypt"
In openssl3 the behavior has changed such that when the `-S` flag is specified to give a specific salt, the output will no longer be prefixed with "Salted__" and contain the salt in the encoding. Note that when `-S` is not given and the salt is randomized, the prepend still happens, but we need determinism, so we have to use `-S`, and unfortunately there is no option to output ciphertext with the

[2022-05-08 03:37] Erotemic opened #134 "Formalize specs for transcrypt configurations with pbkdf2 & configured salt."
This issue is to discuss how pbkdf2 and new methods for generating salt should be handled in #132.

### PBKDF2

At a high level the problem is that transcrypt could be far more secure by using pbkdf2. Right now if you have at least a 5-word diceware-style password you are probably ok, and with 6 words you should be ok, should be ok isn't enough. Regardless enabling pbkdf2 drastically increases sec

[2022-05-19 22:27] Erotemic commented on #134
I've added a writeup of the algorithm in #132 I've checked this into the repo as an RST document:

https://github.com/Erotemic/transcrypt/blob/enhance-configuration/docs/algorithm.rst

[2022-06-01 21:22] Ernaldis commented on #131
I am seeing the same issue on my system.

Environment info:
OS: Pop!_OS 22.04 LTS
transcrypt version: 2.1.0
git version: 2.34.1

Steps to produce issue:
[code]

The final command returns the following message:
[code]
Running the two suggested commands and attempting to commit again returned the same message.

Running `transcrypt -l` returns `secret.yaml`

Running `git show :secret.yaml` returns `/

[2022-06-01 22:10] yambottle commented on #131
Having the same issue with @Ernaldis !

[2022-06-03 11:58] jmurty commented on #131
Hi @Ernaldis and @yambottle can you check which version of OpenSSL you are using with `openssl version`?

I suspect the issue is due to an incompatible (with transcrypt) change in how the new OpenSSL **version 3** encrypts files and discussed in https://github.com/elasticdog/transcrypt/issues/133

If you are using OpenSSL 3+ can you try the `fix-for-openssl3` branch to see if that fixes the proble

[2022-06-03 14:14] Ernaldis commented on #131
`openssl version` returns `OpenSSL 3.0.2 15 Mar 2022 (Library: OpenSSL 3.0.2 15 Mar 2022)`

After checking out the `fix-for-openssl3` branch, `transcrypt --version` returned `transcrypt 2.2.0-pre`.

Initially, the same error occurred, but removing transcrypt from the repo with `transcrypt -u` and setting it back up again fixed the issue. Everything appears to be in working order now, thank you for

[2022-06-14 12:17] jmurty commented on #133
Fixed in `main` branch, pending release in version 2.2.0

[2022-06-14 12:19] jmurty commented on #131
Thanks for confirming this fix, we'll include the fix along with a bunch of other improvements in the upcoming 2.2.0 release

[2022-06-14 12:19] #131 closed

[2022-06-14 12:20] #49 closed

[2022-06-15 18:40] ljm42 opened #138 "xxd is now required?"
Hi, I'm back to this and I see there was an update just yesterday :)

It failed on my Unraid system though because I didn't have the "xxd" binary. I was able to get past that by installing vim.

It looks like xxd was added in this commit:
  https://github.com/elasticdog/transcrypt/commit/c6ec80e4b03f517023c81aadf4968214f548fbf4

It would be ideal if xxd wasn't required, but if it is now a requirem

[2022-06-16 13:34] Erotemic commented on #138
Agh, I should have checked if `xxd` was a common tool or not. I wasn't even thinking.

I do remember finding a tool to get the conversion to work was a huge PIA. I wroteup a note file on the best ways I found to do the conversion in bash: https://github.com/Erotemic/misc/blob/main/learn/bash_base_conversions.sh which is in large part based on this blog https://boubakr92.wordpress.com/2012/12/14/nu

[2022-06-27 12:22] jmurty commented on #138
After looking around I think we might be stuck with `xxd` as a new requirement for compatibility with OpenSSL 3+ but I like @Erotemic's idea of making it a requirement only when it's really needed for that compatibility.

I have made these changes, and documented the new requirement, in commit a258dc442b3e7d0a766fb289492a794d909b6378 on the `main` branch.

[2022-06-27 12:22] #138 closed

[2022-07-01 09:14] dannycoates opened #140 "base64 wraps differently depending on platform"
This line https://github.com/elasticdog/transcrypt/blob/main/transcrypt#L151 produces different output depending on the platform. On mac it outputs a single line, while on linux it wraps at 76 chars. I believe openssl was previously wrapping at 64 chars. Unfortunately the flags to set the wrap width are different as well, `-b` on mac and `-w` on linux.

It causes git to see the files as "modified"

[2022-07-01 11:30] jmurty commented on #140
Wow, thanks for catching this @dannycoates! Our tests always run on a single platform at a time, not cross platform, and don't check the exact Base64 format so we'd never notice this until real-world cross-platform use.

I started looking into how to detect the right `base64` flags to use for different platforms, before I realised that OpenSSL itself will do it with `openssl base64` – and will hop

[2022-07-02 02:53] dannycoates commented on #140
Yep, `openssl base64` works for me. Thanks!

[2022-07-02 02:58] #140 closed

[2022-07-08 21:13] ljm42 opened #141 "Consider making functions for get_password() and set_password()"
I would like to move the transcrypt password out of the git config file and come up with some other method of storing it.

I'm wondering if you'd be open to creating functions for `get_password()` and `set_password()`, something like this:

[code]
the code would call those like this:
[code]
Then in my implementation I would just have to modify those functions and not all the places that get/set th

[2022-07-09 03:11] ljm42 opened #143 "test fails due to assumed branch name"
The test `merge: branches with encrypted file - line changes both branches, with conflicts` assumes the initial branch is named "main":
https://github.com/elasticdog/transcrypt/blob/00a2cbb660f9e47e553159d3cb9461f226100c8a/tests/test_merge.bats#L93

That means if you haven't set the defaultBranch, or if you set it to something other than main:
`git config --global init.defaultBranch trunk`
the tes

[2022-07-09 11:37] jmurty commented on #143
Fixed in #144 now merged

[2022-07-09 11:37] #143 closed

[2022-07-09 11:59] jmurty commented on #127
To follow up on this: until recently Transcypt was not compatible with OpenSSL version 3 (see #133).

We just released the latest official version [2.2.0](https://github.com/elasticdog/transcrypt/releases/tag/v2.2.0) with a compatibility fix.

[2022-07-10 11:48] jmurty commented on #141
Solved with new `load_password()` and `save_password()` functions merged from #142, thanks for the improvement!

[2022-07-10 11:48] #141 closed

[2022-10-16 11:35] ppiecuch opened #146 "git reports files as modified"
os: macOS bigsur/monterey
git: git version 2.37.0 (Apple Git-136)
zsh
transcript: latest

I have a folder added in gitattribute with /** : [some path]/** filter=crypt diff=crypt merge=crypt
Pretty much from the beginning of using transcript (I guess wayback 2.0 or 2.1) all files (except one) from added folder has been reported as modified. I finally spend some time recently on that and figure out

[2022-10-16 11:46] jmurty commented on #146
Hi @ppiecuch I'm not sure what might be causing this, but it sounds like a bug we're not aware of since having zero-size encrypted files is an unusual use-case.

I'd recommend starting here, the internal `git_clean` function that runs when git cleans (encrypts) files: https://github.com/elasticdog/transcrypt/blob/main/transcrypt#L137-L142
It deliberately handles zero-size files by returning nothin

[2022-10-16 11:54] jmurty commented on #146
Since you're using a recent version of transcript, you can test by directly editing the .git/crypt/transcrypt in your repository.

Just be sure to do so in a test repo so there's no risk of corrupting your real one.

[2022-10-16 11:55] ppiecuch commented on #146
Hi, thank you for quick respond :) No, any of these files is empty - these are just regular files:
   ls -l <some path>/<some file>.h
  -rw-r--r--  1 piecuchp  staff  1339 Apr  5  2022 <some path>/<some file>.h

[2022-10-16 11:59] jmurty commented on #146
Ah, I see. So the files in your working copy aren't empty, and are encrypted behind the scenes, but Git thinks they are empty?

[2022-10-16 12:02] ppiecuch commented on #146
Exactly - except the first one in that folder (it is README.md file), which reporting correct size. So first file reporting correct size and it is not reporting as modified. Remaining files reporting zero size and "modified" status

[2022-10-16 12:20] jmurty commented on #146
Do the problem files work if you clone your repo somewhere else and re-init transcrypt there? In the cloned repo are they decrypted properly, with the correct contents, and do they remain mistakenly modified in the new place?

[2022-10-16 12:57] ppiecuch commented on #146
Thanks, I will try that later. Meantime I have checked latest _transcript_ on the same repository but on my other Mac - it also reports same files as modified (and one file as ok). But this time _ls-files_ reports correct size for every file :)

[2022-10-16 14:34] ppiecuch commented on #146
I cloned fresh repository and reinit transcrypt: same situation - all files (except one) are reported as modified and _ls-files_ reports zero size. Content is correct.

[2022-10-16 17:57] ppiecuch commented on #146
Just some more debugging info:

When I run:
**git diff  [some path]/[some file].h**
==== run clean
==== run clean
==== run textconv

_transcrypt_ is running couple of times

When I run git diff on the single file that is not showing "modified" status (it is README.md - not sure if it is relevant) _transcrypt_ is not called at all.

[2022-10-16 19:10] ppiecuch commented on #146
Finally I have just added/committed  a modified files and seems like the problem is gone :)

[2022-10-16 19:10] #146 closed

[2022-10-19 09:20] jmurty commented on #146
Thanks for following up. I'm not sure what could have gone wrong to start with, but I'm glad it's working well for you now

[2022-11-10 10:59] jmurty opened #147 "Version 2.2.0 is not compatible with MacOS Ventura's `/usr/bin/openssl`"
In release 2.2.0 we included a fix for #133 to work around a compatibility problem with OpenSSL versions 3+, which changed how salt values are included in encrypted output (they aren't)

Unfortunately our work-around relied on a check of the `openssl` version's major version: if the major version is `3` or greater it forcibly includes the salt values in the encrypted output.

The recent release of

[2022-11-12 10:09] andreineculau opened #149 "comparison to similar tools e.g. git-secret"
I received a question "How does transcrypt compare to (the more github-starred) git-secret?". Maybe others are getting the same question.

Might be worth adding a section describing just that, for git-secret, but maybe for other tools if needed. The rationale for this request is that there's an opportunity to increase transcrypt's usage when it's clear what does it bring to the table. Choosing bas

[2022-11-13 11:38] jmurty commented on #149
Thanks very much for those kind words @andreineculau, I appreciate it 🙏

I think a brief comparison of transcrypt with other tools in the same space would be useful. I'm not personally invested in increasing usage of this tool versus others, but I like the idea of giving potential users a quick overview of the relative pros and cons of the available tools, to make it easier for them choose the too

[2022-11-13 12:03] jmurty commented on #149
This suggestion made me curious to see what else is out there, since I last looked at tools like `transcrypt` a few years ago. Here are some candidates for comparisons:

- https://github.com/sobolevn/git-secret
- https://github.com/AGWA/git-crypt
- https://github.com/jswidler/lockgit
- https://github.com/StackExchange/blackbox/
- https://github.com/mozilla/sops

And of course https://github.com/ha

[2022-11-16 19:49] theoryshaw commented on #129
Might be interested in this issue:
https://github.com/git-lfs/git-lfs/issues/4287

Created a bounty here: https://app.bountysource.com/issues/93535439-gitattributes-5-should-control-paths-desired-git-lfs-extensions

[2022-11-21 12:04] stherold commented on #147
Same issue here. We installed the main branch instead which contains the merged branch.

[2022-11-23 16:00] alb777 commented on #147
Still failing even doing the workaround above.

[2022-11-27 00:45] jmurty commented on #147
Hi @alb777 can you describe how the latest `main` branch version of Transcrypt is failing for you?

And are you sure you have installed/upgraded to the in-progress version? E.g:
[code]

I'd like to release an official 2.2.1 version soon with the MacOS 13 Ventura fix, but I'd also like to be sure the latest version on `main` actually fixes the problem(s).

[2022-11-28 10:27] alb777 commented on #147
Hi @jmurty

Sure, follows my current transcrypt state that fails during decrypt/git push to stash:

[code]

My workaround to fix it was change `LibreSSL 3.3.6` to `OpenSSL 1.1.1s` on git default configurations forcing transcrypt to work with the version above instead of the default LibreSSL that comes with Ventura, just added the following line to my local .git config file:

`[transcrypt]
	openssl

[2022-11-30 10:34] jmurty commented on #147
Hi @ronangaillard sorry you're having trouble.

I've done some more testing of the latest version from `main` with encrypted files between MacOS 13 Ventura (`openssl version` : `LibreSSL 3.3.6`) and Ubuntu (`openssl version` : `OpenSSL 1.1.1f  31 Mar 2020`) but I haven't been able to reproduce any problems.

I'd appreciate your help in testing this and pinning down the issue.

Can you try each of